[2013-07-04 21:53] simonft opened #2 "sign() and _sign_file() both list keyid as a parameter in docs, actually use default_key"
It's most obvious here:
https://python-gnupg.readthedocs.org/en/latest/gnupg.html#gnupg._meta.GPGBase._sign_file

It's defined with:

[code]

but the list of parameters has:
keyid (str) – The key to sign with.

[2013-07-10 07:53] isislovecruft opened #4 "test_delete_keys unittest fails to test deleting secret keys and subkeys"
see [this comment](https://github.com/isislovecruft/python-gnupg/pull/3#commitcomment-3600917) from PR#3.

[2013-07-16 12:46] #2 closed, assigned to nobody

[2013-07-20 06:24] micahflee opened #5 "gen_key doesn't appear to be generating keys"
[code]

[2013-07-26 10:27] ghost opened #11 "gpg or gpg2?"
gen_key_input() generates only gpg2-compatible output, as gpg-1.x --batch --gen-key command does not support "Key-Type: default".
https://github.com/isislovecruft/python-gnupg/blob/master/gnupg/gnupg.py#L704

Should this be made backwards compatible, i.e. supply a proper Key-Type instead of "default", or should python-gnupg explicitly only support gpg2? (are there any other issues with doing that?

[2013-07-29 20:38] isislovecruft opened #15 ""pip list" command for Makefile target "test-before" fails with older pip versions"
@micahflee from the EFF reported through email that running the unittests fails on the command "pip list"

[2013-07-31 14:21] isislovecruft opened #16 "py3k unittest failures"
most of these are due to trivialities, such as Exception objects no longer having a `message` attribute, and bytestrings being returned and then compared to string literals. should be easy to fix.

[code]

[2013-07-31 23:04] #15 closed, assigned to isislovecruft

[2013-07-31 23:08] #5 closed, assigned to isislovecruft

[2013-07-31 23:08] #11 closed, assigned to isislovecruft

[2013-09-07 19:44] garrettr opened #17 "gnupg.GPG(verbose=True) does not work as expected"
The verbose option in the GPG constructor is not documented, but it defaults to False, implying that True is a valid option. In fact, the value of verbose is passed directly to `gpg --debug-level`, so it should be one of the values described in the man page for this option. The code in `_make_args` attempts to determine if the given value is valid, but fails in the case where verbose=True because

[2013-09-07 20:59] garrettr opened #19 "Add function to search keyservers"
`gnupg.GPG.search_keys` should be an alias to `gpg --search-keys` so users can search keyservers.

`gpg --search-keys` is an interactive command that returns a list of search results followed by an interface for deciding what to do with each result. If run with `--batch`, the search results are printed to `stdout` and the command exits because it cannot accept input. We can parse this output (`--s

[2013-09-14 23:13] zemanel opened #21 "os.getresuid() not supported on OSX"
It seems `os.getresuid()` is currently not supported on OSX:

http://bugs.python.org/msg91837:

[code]

It is used on the project to:
- name a file in which to optionally save a passphrase
- discover if a gpg-agent process for the current euid is running

it would be cool if this could be circumvented, for example dropping agent support on platforms which do not support `os.getresuid()` so that th

[2013-10-08 14:20] #17 closed, assigned to nobody

[2013-10-14 00:02] Hainish opened #23 "gpg.encrypt should be able to take a list of recipients"
In the docs, encrypt can take a list of recipients.  This results in an error when actually used:

[code]

[2013-10-14 00:07] Hainish opened #24 "Encrypting to a file results in an OK status code, but does not work"
[code]

[2013-10-14 03:51] kalikaneko opened #25 "sphinx: assertion error: losing "ids" attribute"
with sphinx 1.2b1 I'm finding the following error, which is due to https://bitbucket.org/birkenfeld/sphinx/issue/1160.

Although it's fixed upstream, I'm submitting a pullreq with a workaround since it will avoid the correct documentation build for the debian package.

[code]

[2013-10-26 19:12] harobed opened #29 "I suggest a feature to sign a public key : gpg2 --sign-key name"
Hi,

I suggest a feature to sign a public key :

gpg2 --sign-key name

http://www.gnupg.org/documentation/manuals/gnupg/OpenPGP-Key-Management.html#OpenPGP-Key-Management

Best regards,
Stephane

[2013-11-11 20:54] ghost opened #30 "--hidden-recipient"
Please implement the --hidden-recipient / -R flag
thank you

[2013-12-03 11:53] #21 closed, assigned to isislovecruft

[2013-12-03 22:47] #25 closed, assigned to isislovecruft

[2013-12-29 16:20] isislovecruft opened #39 "`import ordereddict as collections` breaks python2.6"
See https://github.com/isislovecruft/python-gnupg/commit/cc59df2ca30332bcd36358833d8b07f245cdda6e#commitcomment-4950902

[2014-03-26 19:51] mattieb opened #41 "`exceptions` module not present in Python 3"
I'm not clear whether this module is supposed to run under Python 3 (`setup.py` suggests so, and I can `pip3 install` it), but I attempted to use it under 3.4 and cannot `import gnupg`:

[code]

It is my understanding `exceptions` is no longer present in Python 3.

[2014-04-20 05:14] ianchesal opened #44 "gnupg.GPG(verbose=True) passes invalid option to gpg-1.4.16 on OS X 10.9.2"
I was getting:

[code]

When I was trying to create a gnupg.GPG() instance using:

[code]

After some digging it turns out that gnupg was call gpg with the options `--debug-all --debug-level basic` which caused the output from the GnuPG 1.4.16 version on my OS X 10.9.2 machine to be:

[code]

Which was resulting in the TypeError being thrown trying to parse the version of GnuPG in use on my system

[2014-05-02 09:27] amr opened #47 "Change project name/package"
Am I the only one who is very confused by the name/package of this project? Is it Ok that the name "python-gnupg" no longer identifies which module we are referring to?

Not only the name but also the Python package is not unique, which may have been fine if it were a drop-in replacement but it's not.

When typing the command: `pip install gnupg` or `pip install python-gnupg` I don't have any idea

[2014-05-03 19:17] KopfKrieg opened #48 "Symmetric encryption with compress_algo='none' fails"
Following short test:

[code]

If compress_algo is set to 'Uncompressed' or None everything works as expected. But if compress_algo is set to 'none', I only get an error message during an error message:

[code]

I'm not sure how to handle this. Should 'none' be redirected to None or 'Uncompressed' or is this the users fault?

And besides that: If the error message is fixed like that:

[code]

Woul

[2014-05-21 18:07] Nando-bog opened #49 "UnicodeDecodeError"
I am getting a UnicodeDecodeError when decrypting a text that was encrypted using the library. However, the text is decypted properly despite the error.

Details:
OS: Mac OS Mavericks 10.9.2
Python: 2.7.6
gnupg: 1.2.5

Sample error from my Terminal:

As the last line shows, decryption worked, but it still threw the error.

Thanks!

[2014-06-04 19:12] #39 closed, assigned to isislovecruft

[2014-06-04 20:42] #41 closed, assigned to isislovecruft

[2014-07-01 17:04] kalikaneko opened #51 "tar.gz missing requirements.txt"
The tar.gz that is distributed in pypi is missing the requirements.txt.
The fix is simply adding the file to Manifest.in
This will be needed for proper debianization.

[code]

patch on its way.

[2014-07-01 17:13] kalikaneko opened #52 "relax psutil pinning"
Currently, pinning on psutil is strict about == 1.2.1
This is troublesome for distribution with debian/ubuntu. The current version table is:

[code]

We could relax the pinning to just >= 1.2.1
Patch on its way

[2014-07-09 12:16] #52 closed, assigned to kalikaneko

[2014-07-09 12:17] #51 closed, assigned to kalikaneko

[2014-07-09 12:19] #16 closed, assigned to isislovecruft

[2014-07-31 08:34] FirefighterBlu3 opened #55 "gnupg.GPG() init ought to check ownership and permissions"
after a slight oversight on my part and getting frustrated because gpg "did nothing at all", i realized file permissions were off.

here's a patch to do some moderate sanity checking on class init.

[code]

[2014-08-02 04:28] #24 closed, assigned to isislovecruft

[2014-08-15 17:32] kalafut opened #58 "Exception on Windows: 'Process' object has no attribute 'uids'"
_meta.py makes the following call, which triggers _AttributeError: 'Process' object has no attribute 'uids'_

[code]

psutil docs state that this is a [Unix-only property](http://pythonhosted.org/psutil/#psutil.Process.uids)

[2014-09-02 15:09] ttanner opened #62 "bad quotes for home directory"
in https://github.com/isislovecruft/python-gnupg/blob/master/gnupg/_meta.py#L364
hd = _parsers._fix_unsafe(directory)

converts the relative path "foo bar" to "'foo bar'" and creates a subdirectory with extra quotes.

[2014-09-02 22:12] ttanner opened #63 ""Too many open files" in tests"
With OSX 10.9.4, Python 2.7.8 running the testsuite results in the following error for the last quarter of tests:

[code]

Running the test suites separately does not cause those errors.
This indicates that some files are not properly closed and the file limit is reached.

For example, in line 155 above the pipes are not explicitly closed, while for most other calls of _open_subprocess() they are

[2014-09-11 15:56] micah opened #65 "tarballs differ"
Hello!

It seems as if the code that is on github differs from the code that is on pypi. If you pull down the latest tarball from pypi and then do a recursive diff of the two unpacked sources, you will find there is a lot of differences. I noticed this because I was trying to figure out where the embedded jquery.js was coming from, because I dont think that should be shipped in the code, and I fou

[2014-09-26 02:53] #44 closed, assigned to isislovecruft

[2014-09-26 03:35] isislovecruft opened #66 "Handle KEYREVOKED in Verify"
This was pointed out in PR#38, and it's actually a bug in python-gnupg<=1.3.1 because it results in a `ValueError`.

[2014-09-26 03:51] #66 closed, assigned to isislovecruft

[2014-09-26 23:58] #65 closed, assigned to isislovecruft

[2014-09-27 00:55] isislovecruft opened #67 "Make it easier to use --hidden-recipient and --throw-keyids options"
The ability to use the `--hidden-recipient`, `--hidden-encrypt-to`, and `--throw-keyids` GnuPG flags was added in #30 in python-gnupg-1.3.2. You can use them by doing, for example:

[code]

But… that's not really easy or intuitive. To make it so, we'd probably want to patch `gnupg._meta.GPGBase._encrypt()` to take some parameter like `hidden_recipients=list` and/or `hide_all_recipients=bool`. Or h

[2014-09-27 00:57] #30 closed, assigned to isislovecruft

[2014-09-27 01:33] #63 closed, assigned to isislovecruft

[2014-09-27 02:56] #62 closed, assigned to isislovecruft

[2014-09-27 03:23] #48 closed, assigned to isislovecruft

[2014-10-04 07:59] wlike opened #71 "gnugp.GPG() init"
Why dose it need to check whether 'gpg' is a symbolic link? and must not be a symbolic link?
![image](https://cloud.githubusercontent.com/assets/6084282/4514945/39e60aa8-4b9c-11e4-8afd-dee4fb9cf199.png)

location: _find_binary() function in _util.py

[2014-10-22 15:33] meskio opened #72 "list_sigs always return an empty list"
The 'data' returned by _list_sigs_ in the result there is some valid result, but the parser used there (_list_) don't seems to parse it correctly and always return an empty list.

The documentation there is confusing, as the example in the documentation don't use _list_sigs_ and claims to return a dictionary, but returns a list.

I'm looking at the code trying to fix it.

[2014-10-28 00:34] #19 closed, assigned to isislovecruft

[2014-10-28 01:08] #49 closed, assigned to isislovecruft

[2014-10-28 01:13] #71 closed, assigned to nobody

[2014-10-28 01:53] isislovecruft opened #74 "Don't rely on $HOME being set"
Peter Malmgren on Twitter reported that [some uWSGI servers don't export environment variables to worker threads](https://twitter.com/ptmalmgren/status/526785908029542400), causing breakage because `gnupg/_util.py` expects a `$HOME` env variable. We should set to to `/tmp/something...` if we don't have a `$HOME`.

[2014-10-28 06:23] brianredbeard opened #75 "Proposal: Add a function to handle modification of a key's trust level"
In order to verify file signatures the ability to specify the trust level of a key needs to be specified.

Currently when calling `import_keys` there is no way to specify the level of the trust.  Furthermore there is no equivalent of `edit-key` to modify the trust level.  The result is the inability to perform verification of a file using a known GPG ID and corresponding public key.

This issue is

[2014-10-28 08:21] brianredbeard opened #76 "setting verbose when instantiating GPG class causes failure"
This is on Fedora 20 which ships gnupg version 1.4.8

[code]

In the following example you can see that when attempting to set `verbose="basic"` that it causes the output to be mangled, as per the "can opened signed data" line.

[code]

[2014-11-02 04:39] extempore opened #78 "Verification of messages signed with multiple keys"
Some examples here: https://bitbucket.org/vinay.sajip/python-gnupg/issue/21/gpg-message-with-multiple-signatures

[2014-11-11 19:21] bwagnerr opened #80 "Installation through setup.py or easy_install causes the version to be unknown"
I am bumping into this problem often, what I've seen is that when you install `python-gnupg` module through `easy_install` (as `setup.py` does), it falls into the `gnupg._version.versions_from_parentdir` function with the `IN_LONG_VERSION_PY = True`

That means it tries to match the `parentdir_prefix` with `"python-gnupg-"` when in reality the parent directory (tested on debian and mac) is named i

[2014-11-12 15:47] adulau opened #81 "Inconsistency in the library when importing keys"
Hi,

While importing a PGP public key via import_keys(), the fingerprints() method on the result
returns not only the fingerprints of the imported keys but all the keys present in the keyring. It should only return the imported keys fingerprint.

Thank you.

Documentation:

fingerprints = []¶

[code]

[2014-11-18 22:25] majek opened #82 "Signing is failing if when passphrase='' (empty string)"
When running:

g = gnupg.GPG(...)
x = g.sign('abc\ndef\n, passphrase='')
print x.data

The signed thing will be only "def\n", "abc" will be skipped in the signature. When passphrase=None it's fine.

[2014-11-19 02:49] #55 closed, assigned to isislovecruft

[2014-11-19 04:29] #76 closed, assigned to nobody

[2014-11-19 04:44] isislovecruft opened #83 "Handle 'SIG_SUBPACKET' status in gnupg._parsers.Verify"
While debugging Issue #76, I produced the following error:

[code]

[2014-11-19 18:33] #74 closed, assigned to nobody

[2014-11-19 21:50] #80 closed, assigned to nobody

[2014-11-19 22:53] #83 closed, assigned to nobody

[2014-11-19 23:31] isislovecruft opened #85 "Handle NOTATION_* statuses in Verify parser"
While testing my patch for #83, I realised we'll need to also handle `NOTATION_*` statuses in `gnupg._parsers.Verify`.

From `doc/DETAILS` (in the GnuPG repository):

[code]

The traceback which I received was:

[code]

[sudo] pip install gnupg

[code]

git clone https://github.com/isislovecruft/python-gnupg.git
cd python-gnupg
make install
make test

[code]

make docs

[code]

The primary interfa

[2014-11-20 06:13] #85 closed, assigned to nobody

[2014-11-26 23:47] #72 closed, assigned to isislovecruft

[2014-11-27 00:18] #58 closed, assigned to nobody

[2014-11-27 01:06] #81 closed, assigned to nobody

[2014-11-27 02:49] #67 closed, assigned to nobody

[2014-11-27 03:37] #23 closed, assigned to nobody

[2014-12-10 14:14] ttanner opened #88 "PY3: signing of StringIO fails"
the following test fails with Python 3.4.
It hangs forever and if you abort the process you get:

Traceback (most recent call last):
  File ".../3.4/lib/python3.4/threading.py", line 921, in _bootstrap_inner
    self.run()
  File ".../3.4/lib/python3.4/threading.py", line 869, in run
    self._target(*self._args, **self._kwargs)
  File ".../python-gnupg/gnupg/_util.py", line 162, in _copy_data

[2014-12-17 02:48] garrettr opened #89 "Can't encrypt stream objects (StringIO, BytesIO, etc.)"
**POC**

[code]

There are numerous references to files and file-like objects in the docstrings of these functions, which leads me to believe this is supposed to work. It did work when using `encrypt_file` in 1.2.5, but it was broken when encrypt_file was changed to be `encrypt` in 295d98fbdc6a9bff927da8fe011241d7bbbd8a3c.

A closer look at the site of the traceback shows:

1. If the input to `enc

[2015-01-14 16:21] ttanner opened #91 "MISSING_PASSPHRASE not handled"
when the passphrase is missing, gnupg returns MISSING_PASSPHRASE.
this message should be handled like BAD_PASSPHRASE

 File ".../gnupg-1.4.0-py2.7.egg/gnupg/_parsers.py", line 950, in _handle_status
    raise ValueError("Unknown status message: %r" % key)
ValueError: Unknown status message: u'MISSING_PASSPHRASE'

[2015-01-28 01:11] doktorstick opened #93 "PY3: Cannot encrypt to a file"
[code]
[code]

[2015-01-28 01:39] doktorstick opened #94 "PY3: Cannot encrypt from a file"
I haven't figured out how to use the ``encrypt`` interface to stream from a file. I've tried passing the filename and the handle from ``open``, both with no avail. The docs suggest one should be possible ("``:param str data: The file or bytestream to encrypt.``").

[code]
[code]

[2015-01-28 15:42] doktorstick opened #95 "PY3: Significantly slower than gpg"
Intel(R) Xeon(R) CPU E5-2630 v2 @ 2.60GHz
[code]
That puts it at about 425.8 Mb/s on my machine as compared to 129.9 Mb/s for gnupg. I fully read the file into memory and passed ``bytearray`` to the ``encrypt`` routine. I only measured the ``encrypt``.
[code]

Here's the test code:
[code]

When I added ``cProfile``'ing code around ``encrypt``, the two big time users were ``encrypt`` and ``_thread.

[2015-02-09 01:39] garrettr opened #96 "Don't pass --use-agent or --no-use-agent to gpg2"
From `man gpg2`:

[code]

The `gnupg.GPG` constructor calls `_make_args`, which defaults to setting `--no-use-agent` if `use_agent` is not specified as a keyword argument to the constructor. When python-gnupg uses gpg2, this causes gpg2 to print a warning message *every time it is called*:

[code]

This message cannot be suppressed even by changing the `--debug-level` to `none`. When used in an au

[2015-02-21 20:03] adeverteuil opened #98 "Support PINENTRY_LAUNCHED"
Since gpg 2.1, the gpg utility now emits a new status message "PINENTRY_LAUNCHED". python-gnupg raises an exception during signing/decryption because it cannot handle this status code.

I suggest that the list of ignored status messages in Verify.handle_status is extended to include PINENTRY_LAUNCHED.

See also: [the same issue in vinay.sajip's python-gnupg](https://bitbucket.org/vinay.sajip/pytho

[2015-03-09 05:53] isislovecruft commented on #95
I'm not exactly sure what you're suggesting I do… Python is *much* slower than C. There isn't any way that I can make Python faster than C.

[2015-03-09 05:53] #95 closed

[2015-03-09 06:50] isislovecruft opened #99 "Test for recv_key() touches the network"
It is annoying, slow, and prone to random failures. Also, bad practice. It should be refactored to not touch the network (as much as is possible).

[2015-03-09 08:00] isislovecruft commented on #89
This should be fixed in 2.0.1 (because #92 is merged).

[2015-03-09 08:00] #89 closed

[2015-03-09 08:02] isislovecruft commented on #93
This should be fixed in 2.0.1 (because #90 was merged).

[2015-03-09 08:06] isislovecruft commented on #94
This should be fixed in 2.0.1 (because #90 and #92 were merged).

[2015-03-09 08:14] isislovecruft commented on #91
Okay, this is fixed in my `fix/91-missing-passphrase` branch.

[2015-03-09 08:16] #91 closed

[2015-03-09 08:48] isislovecruft commented on #96
Fixed in my `fix/96-no-use-agent` branch, which merged a commit from @ttanner from #46. This branch has been merged into `develop` for the 2.0.1 release.

[2015-03-09 08:48] #96 closed

[2015-03-09 08:49] isislovecruft commented on #98
@adeverteuil Thanks for reporting this! I'll gladly add it.

[2015-03-09 08:54] isislovecruft commented on #98
This is added in my `fix/98-pinentry-launched` branch, which was merged into `develop` for the release of 2.0.1.

[2015-03-09 08:54] #98 closed

[2015-03-09 12:28] doktorstick commented on #95
I would suggest auditing the use of locking. Unless I'm misreading what cProfile is telling me, 68% of the time is spent locking.

[2015-03-11 03:10] isislovecruft opened #100 "gnupg._parsers.ListPackets can't parse GOOD_PASSPHRASE status messages"
[code]

[2015-03-11 05:27] #100 closed

[2015-03-13 02:25] isislovecruft commented on #99
I'm providing a temporary solution where the `recv_keys` test simply will not be run until it's fixed.

A better solution would be to have a mock keyserver listen on a local interface and respond with the key requested.

[2015-03-13 02:44] isislovecruft commented on #93
Okay… this wasn't fixed with the changes from #92; it got more broken for Python3.

[2015-03-13 02:50] isislovecruft commented on #88
This is merged and it'll be fixed in python-gnupg>=2.0.1.

@ttanner Thanks for reporting the issue!

[2015-03-13 02:50] #88 closed

[2015-03-13 02:52] isislovecruft commented on #93
@doktorstick Thanks for reporting this issue! I just re-ran your example with Python3.4 after merging the above commit 43164fa into `develop` and it works just fine now, so it'll be fixed in python-gnupg>=2.0.1.

[2015-03-13 02:52] #93 closed

[2015-03-13 02:55] isislovecruft commented on #94
Ignore my last comment, #92 didn't fix the issue, nor did my Python3 fixes for #92.

Additionally, when running @doktorstick's example code with Python2, I get the following traceback:
[code]

[2015-03-13 03:24] isislovecruft commented on #94
Oops, I accidentally wrote "fixes #93" in the commit message for 0c87da3d7, but that commit actually fixes this bug.

[2015-03-13 03:24] isislovecruft commented on #94
This is merged and will be in the python-gnupg-2.0.1 release.

[2015-03-13 03:24] #94 closed

[2015-03-13 05:08] #99 closed

[2015-03-13 05:24] isislovecruft opened #101 "Three unittests are broken when running with pypy"
[code]

[2015-03-13 17:35] doktorstick opened #102 "PY3: 2.01 - gnupg stream decode error, gpg --decrypt works"
In a direct upgrade from 1.4.0 to 2.0.1, I'm seeing stream decode errors. I'll preface this by saying that I didn't check to see if the stream `decrypt` interface changed. I validated that I could decrypt it from gpg command-line.
[code]

[2015-03-17 14:01] mvk opened #104 "python<=2.6 compatibility is broken by latest commit in master"
hi.
master branch breaks py2 compatiblity using `sys.version_info.major` to check it is indeed py2.
on py2 this is just a tuple. on py3 this is an object with attributes, one of which is referred to by line 55 in file `_utils.py`.
My patch simply replaces the code with py2 safe code.
I looked at "six" module in hope to find some kind of twofold compatibility, i.e. to write in py3 syntax, yet to st

[2015-03-18 03:47] isislovecruft commented on #104
@mvk Yikes, you're totally right! Though [this only affects Python <= 2.6](https://docs.python.org/2/library/sys.html#sys.version_info), not Python2.7. Thanks for finding this.

[2015-03-18 04:41] isislovecruft commented on #102
@doktorstick I added your example code with some minor modifications as a new test in the test suite… but I can't seem to reproduce the issue, on either Python2 or Python3. Do you think you'd be able to build from my `fix/102-py3k-decrypt-bytes-literal` branch and run the tests? E.g. `make install && make test` (works in a virtualenvs too).

[2015-03-18 05:03] isislovecruft commented on #104
Ignore the above commit — I typed #104, when I meant to type #102, in that commit message.

[2015-03-18 06:10] mvk commented on #104
Hi, no problem.
When is this going to be in pypi?
On Mar 18, 2015 7:03 AM, "Isis Agora Lovecruft" <notifications@github.com>
wrote:

[2015-03-18 12:59] doktorstick commented on #102
Sure, no problem. My results are below. TL;DR version, `armor=False` is not working in my test case.

I created python3 virtualenv and cloned the branch.
[code]

I did the `make install && make test` in the virtualenv context and was crit by the wall of text. But, I'm guessing the bit you are interested in is:
[code]
Looking at the output I noticed that you are armoring the output for display purp

[2015-03-18 19:47] isislovecruft commented on #82
Fixed in my `fix/82-passphrase-empty-str` branch and merged.

[2015-03-18 19:48] #82 closed

[2015-03-18 19:53] isislovecruft commented on #102
@doktorstick Interesting! Thanks for looking into this! I'll add more tests. I also already changed the debug output (in a749acf4) to only log if `armor=True`, to avoid breaking the terminal if a test uses `armor=False`.

[2015-03-19 00:26] #104 closed

[2015-03-19 00:26] #101 closed

[2015-03-19 00:27] #4 closed

[2015-04-22 05:40] Kahn opened #106 "Stack trace when testing for invalid binaries"
Ahoy,

While testing I wanted to invoke the library with a binary=false or binary=/usr/bin/false to handle exceptions where incorrect binaries are configured.

It looks we are missing a simple exception here to handle a binary not giving the expected strings back.

[code]

[2015-05-11 13:01] slafs opened #107 "Inconsistent behaviour for gnupghome"
When instantiating GPG class from some directory, say ``/tmp`` (other than HOME dir), like this

    gpg = gnupg.GPG(gnupghome='~/.gnupg')

those two directories are created inside ``/tmp`` dir, like so:

    /tmp/~/.gnupg

but if I use that ``gpg`` object (e.g. ``gpg.decrypt(text)``), then the path for homedir gets expanded and the library uses my gnupg home directory (i.e. ``$HOME/.gnupg``).

Do

[2015-05-24 20:08] marcwebbie opened #109 "Issue on some linux installations"
Hello,

I've been experiencing a lot of issues on some linux boxes with encoding. This happens only on `python2`:

[code]

Any idea on where should I start looking at?

[2015-06-01 06:50] #106 closed

[2015-06-01 07:02] isislovecruft commented on #109
@marcwebbie Hi! Thanks for reporting this. May I ask which version you're using? Did it only start happening with that version, or do you know if it was happening before? May I ask what your environment's `LOCALE` (or it might be stored as `LC_ALL`) and `LANG` are set to? And, by any chance, are you using Python2.6 or Jython? Or perhaps, did you do `gnupg.encrypt(None)` (sorry, I just have to ask)

[2015-06-02 03:52] marcwebbie commented on #109
Hello @isislovecruft

I've been poking around `_meta` however I've made some changes to my lib and as you've suspected I was in some situations sending `None` to `encrypt`.

I will keep looking at my code and meta trying to reproduce this consistently to see if something shows up... for now you can close the issue.

Thanks for gnupg. It has been helping me in many projects. :smiley:

[2015-06-02 10:45] chrishinds opened #110 "confusing api for symmetric encrypt"
Am bringing forward some software which used an older version of gnupg. This newer version with the vulnerability fix is really great. However, one of the differences that confused me was as follows:

the old api allowed:
[code]

but on 2.0.2 this yields: `ValueError: Unknown status message: u'NO_RECP'`

the new version needs an extra encrypt=False, eg:
[code]

Maybe others are smarter, but I wasn

[2015-06-09 20:16] theherk opened #112 "Creating instance of GPG kills my local gpg installation"
I have not yet attempted to chase the cause of this, but here are the symptoms. I am using gpg 2.1.4 on my machine. If I create an instance of the object GPG from 2.0.2 of python gnupg, it kills my local keys.

Here are the steps:

    gpg --list-keys
    # all my keys returned
    pip install gnupg
    python
    import gnupg
    # gpg --list-keys still working here
    gpg = gnupg.GPG()
    exit

[2015-07-05 09:41] leo-labs opened #113 "Rename and/or link to real python-gnupg"
Since python-gnupg is developed at https://bitbucket.org/vinay.sajip/python-gnupg/overview please rename and link to this page.

This github repository may confuse people!

[2015-07-05 09:42] euklid commented on #113
+1

[2015-07-05 22:15] Kahn commented on #113
I agree it is confusing but I switched to using this version of python gnupg after Vinay still has not released in 2015. There are some terrible hacks in code now to handle detecting the two libraries so I still agree it would be better to be explicit with the version differences via a rename.

[2015-07-06 17:04] leo-labs commented on #113
I have the feeling that having two versions is bad. I am not sure why you are not merging his changes (or do you?) and the other way around. I am pretty sure that the python community could profit from merging your fork back into 3.8.

And in terms of increasing the distribution of encryption this is an extra barrier.

Btw.: His master branch is working pretty well for me, though it's not released

[2015-07-15 14:21] torfuspolymorphus commented on #113
+1 for merging the two projects if this is in any way possible. If it's not possible, +1 for a new name.

[2015-07-16 16:37] torfsen opened #114 "Passphrase handling with and without GPG agent"
In my application, I need to frequently decrypt GPG-encrypted data using the user's own keys, which are usually protected by passphrases. In a traditional GPG session, the user would be prompted by GPG each time a passphrase is required and could use GPG agent to cache the passphrase. However, when using _python-gnupg_, GPG doesn't have access to a terminal, so direct user input to GPG is not poss

[2015-07-28 10:31] Rendaw commented on #98
I get a similar error when trying to import a key (with passphrase?):
[code]
`bool(y)` is `True`.  `x.list_keys()` shows the key, but `x.list_keys(True)` returns `[]`.

[2015-08-25 14:55] BAKFR opened #117 "The key creation fails without error, using GPG 1.4.16"
The following code does not create a key, and only returns the status "key not created":

[code]

My environment:
[code]

The output with DEBUG log level:
[code]

[2015-08-26 11:10] eliasp commented on #114
When using an agent, you need the environment variable `GPG_AGENT_INFO` or GnuPG >= 2.1 which uses a static socket (`~/.gnupg/S.gpg-agent`) and auto-starts the agent when needed.

So you'd have to make sure the agent is started before your application and is configured to never time out.
Then either export `GPG_AGENT_INFO` for your application's environment or run a recent enough GnuPG version.

[2015-08-29 02:34] lancebermudez opened #119 "windows 8.1 key listing not working"
import gnupg
gpg = gnupg.GPG(binary='gpg.exe',
                homedir='C:/Users/lance/AppData/Roaming/gnupg',
                keyring='pubring.gpg',
                secring='secring.gpg',
                verbose=True)
public_keys = gpg.list_keys()
print(public_keys)

using python3.4 and python-gnugpg version 2.0.2

error i get is
Traceback (most recent call last):
  File "C:/Users/lance/Pictures/

[2015-09-04 08:44] torfuspolymorphus commented on #114
@ellasp: That doesn't seem to work over here. I'm running GPG 1.4.6, so I tried [starting the agent manually](https://www.gnupg.org/%28en%29/documentation/manuals/gnupg/Invoking-GPG_002dAGENT.html) via `gpg-connect-agent /bye`. This does set `GPG_AGENT_INFO`, but I still get the same errors as before:

[code]

[2015-09-04 08:49] eliasp commented on #114
Please give GnuPG >= 2.1 a try - I'd say this is most likely to work then.

[2015-09-05 20:26] torfuspolymorphus commented on #114
@eliasp: Unfortunately I'm currently stuck on 1.4.6. However, since it does work with native GPG (i.e. in the shell without going through pyghon-gnupg) I do think that there should be a way to get it working through python-gnupg, too.

[2015-09-06 08:49] eliasp commented on #114
@isislovecruft Any ideas what to do/try here?

[2015-09-07 21:40] isislovecruft commented on #113
Duplicate of #47

[2015-09-07 21:40] #113 closed

[2015-09-07 21:52] isislovecruft commented on #114
@eliasp Hmm, this one is likely going to be tricky, and also the agent behaviour varies wildly between versions.

@torfuspolymorphus Did your agent already have the passphrase to the key loaded into it before you attempted to use it? The logs above show that the agent appears to be trying to request your passphrase (usually done through pinentry, which requires access to a terminal).

[2015-09-07 22:16] isislovecruft opened #120 "Handle `PKA_TRUST_*` and `TRUST_*` status message during key generation"
With python-gnupg-2.0.2 and gnupg-2.1.7, during key generation a `PKA_TRUST_GOOD` status message code is received:

[code]

See http://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=doc/DETAILS;h=811b1055ad3da52d22e62ae5e0a8ed6d242763d2;hb=refs/heads/master#l645

This is possibly related to #117.

[2015-09-08 16:00] torfuspolymorphus commented on #114
@isislovecruft: No, the agent didn't have the passphrase, yet. I don't think that should be necessary, though. As I wrote above I'd be OK with checking the error message for NEED_PASSPHRASE and providing it "manually" if that is necessary. However the passphrase should then be stored in the agent, something that doesn't seem to work over here. In an ideal world there would even be a way for me to

[2015-09-09 21:02] ksfrazier commented on #119
likewise on windows 10

[2015-09-11 03:48] ksfrazier commented on #119
changed binary to be
binary='C:/Progra~1/GNU/GnuPG/pub/gpg.exe'

that gets me further... but more problems after that ;-)

[2015-09-23 05:29] KopfKrieg opened #121 "Can't decrypt AES256 encrypted binary file"
Hi, somehow I'm unable to decrypt a binary file through python-gnupg. A few month ago this still worked (but I can't remember the exact gnupg-version):

[code]

Instead of a successfully decrypted file it just throws an error (but, unfortunately, doesn't abort the program)

[code]

I'm able to decrypt the file if I'm using gpg (without the python stuff): `gpg -d IYThDruNGyc5iaePDEtKJYCVDTGadj7d #

[2015-09-29 07:47] bts368 opened #122 "Can't sign (at all)"
[code]

[code]

yields:

[code]

Using python 3.4.3.

I get the same when using Python 2.7.10:

[code]

Using python-gnupg ver. 2.0.2 on 3.4.3 and 2.0.1 on 2.7.10, via Arch's AUR (you can view the packaging process here: https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python-gnupg-isis and https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=python2-gnupg-isis, for python 3 and python 2 r

[2015-09-29 08:05] bts368 commented on #122
I'm wondering if the version distributed is just too old.

When running the same exact sequence as listed on this projects readme:

[code]

I get the following:

[code]

i'll try from git.

[2015-09-29 08:18] bts368 commented on #122
and from git (at least in virtualenv) gives the same.

[2015-09-29 13:27] mattmb opened #123 "Symlinked binaries."
Do we really have to disallow symlinked binaries. Is the concern that some program could be put in between that logs keys/data? The reason I ask is that: if you install gpg with brew on OSX, then brew uses symlinks to link the chosen version into your path so this blows up. Secondly we don't seem to make the symlink check on gpg2?

https://github.com/isislovecruft/python-gnupg/blob/2beac24161b07e4

[2015-09-29 13:28] mattmb commented on #123
cc @filipposc5 @krissaxton

[2015-10-03 08:38] bechtoldt commented on #114
I had the same problem because I messed my gpg env up with various gpg versions/keyrings. After creating a new key, encrypting and decrypting with the same gpg2 binary everything starts working. :)

[code]

[code]

[code]

[2015-10-28 17:20] azafred opened #124 "multiple recipients encryption"
Hello, I can't seem to get gnupg to encrypt for multiple signatures at the same time.
I tried different approaches, depending on which doc / bug tracker I read, but I have not been able to find a suitable solution yet.
I have tried using a list of public keys fingerprint, and just a comma separated string, even multiple strings at the end of the encrypt function, but so far nothing as worked, and

[2015-10-30 20:06] JacobHenner opened #125 "gen_key_input() does not process key_usage and subkey_usage parameters."
When creating the input for gen_key() using gen_key_input(), specifying key_usage and subkey_usage does not result in those parameters being incorporated into the input.

[2015-11-11 08:26] zhangtianye opened #127 "How to sign a file with exist key"
I want to sign a file,with a exist key stored in /home/z/mykey/.gnupg,
How can I use it to sign a file in python-gnupg?
When I use gpg.sign_file(stream),
I got a error: 'GPG' object has no attribute 'sign_file'

[2015-11-14 13:06] GeorgeGkas-zz opened #130 "Search and Send functionalities don't exist."
I installed the gnupg through `pip` in ubuntu and when I tried to search or send keys I get the following errors:

[code]

[code]

Those are just the examples, but the errors are the same.

[2015-11-27 05:56] amenonsen commented on #124
The documentation doesn't make this at all clear (and perhaps what you're trying once worked: I've found various similar examples in old code), but if you want to pass in a list of recipients like ``['AABBCCDD','EEFF9900']``, you have to call ``gpg.encrypt(plaintext, *recipients, …)``.

[2015-11-27 06:01] amenonsen commented on #114
Shouldn't python-gnupg pass through GPG_TTY in the environment when it executes gpg? (use_agent=True doesn't work for me).

[2015-11-27 17:07] amenonsen commented on #114
If I change the ``subprocess.Popen`` call in _meta.py to include the values of GPG_TTY and DISPLAY from the environment (if present), then pinentry works fine for me. @isislovecruft Is there any chance to get a 2.0.3 release with the above change? I'll submit a PR if you like.

[2015-11-27 21:22] KopfKrieg commented on #121
Test script (just dropping this here, if anyone wants to play around):

[code]

Executed:

[code]

[2015-11-29 19:16] GeorgeGkas-zz opened #132 "[Question] Using master key for all the work?"
I found out that the default master key created with `gnupg` have all the roles (S)igning, (E)ncryption, (A)uthentication and (C)ertification.

My question is this:
Can I set the main role of the master key only to certificate and signining and set the encryption and authentication jobs to my sub-key?

[2015-12-04 10:04] Tethik commented on #123
This also caused issue on my linux installation where gpg was symlinked to gpg2. Leading to a silent fail when trying to do anything.

[2015-12-04 10:17] Tethik commented on #117
I think I have the same issue. I will try to investigate and see if I can fix it.

Versions etc
[code]

Output
[code]

[2015-12-14 10:52] isislovecruft commented on #47
I've decided to rename the package to `python-gnupg-ng` in an upcoming release.

[2015-12-19 06:31] alexvh opened #134 "decrypt_file() with output=<file with spaces> results in usage error"
Using decrypt_file() with an output argument that includes spaces results in a usage error from gpg on Linux. Each string separated by spaces is passed as an argument to gpg rather than the string as a whole in quotes.

Attached is a quick and dirty patch that fixes the issue on Linux at least. I'm certain it's incomplete and probably buggy, but including here for reference.

[gnupg.txt](https://g

[2015-12-19 07:23] alexvh opened #135 "encrypt() with output parameter can result in MemoryError"
Using encrypt() with an output parameter in place of encrypt_file() now requires the entire encrypted file to be read into memory which is infeasible for files larger than available RAM resulting in a MemoryError.

Traceback:
Exception in thread Thread-43:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/pyt

[2015-12-25 07:53] Tethik commented on #117
In my case it was a simple error of having invalid expiry date that was older than the current date. This caused a failure without feedback.

[2016-01-17 15:09] dmarsic opened #137 "decrypt does not work with gpg 2.1.9 without '--pinentry-mode loopback'"
Decrypt (`decrypt()`) does not work for me unless passphrase has been previously passed to gpg2.

I'm using:

python-gnupg version 2.0.2
gpg (GnuPG) 2.1.9

My use case is relatively simple:

[code]

If I trace it with strace, I see "Inappropriate ioctl for device <Pinentry>" message.

[code]

I was able to make it work by:
- Enabling `gpg-agent` to run with `allow-loopback-pinentry`, and

[code]
-

[2016-02-29 17:34] antevens opened #140 "Ordered Dict requirement for python 2.6 is specified with hash but fails"
Searching for ordereddict==1.1#a0ed854ee442051b249bfad0f638bbec
Reading https://pypi.python.org/simple/ordereddict/
No local packages or download links found for ordereddict==1.1#a0ed854ee442051b249bfad0f638bbec
error: Could not find suitable distribution for Requirement.parse('ordereddict==1.1#a0ed854ee442051b249bfad0f638bbec')

Removing the hash from the dependency specification fixes the issue.

[2016-03-01 17:56] antevens opened #141 "cls not defined in import_ownertrust method"
I think either the method should use the instance or it should be a class method and take cls as the first argument or be `self.__cls__`?

[code]

Could also be replaced with something nicer, for example: (untested)

[code]

[2016-03-08 21:05] Asher256 opened #142 "List all keys"
Hi,

I have more than 40 keys in my GPG keyring (some trusted, some others untrusted),

When I tried to show the keys with the same command as python-gnupg:
[code]
The command below printed all public keys.

When I tried this Python code:
[code]

It didn't work.

The Python code below printed only two keys: my public keys.

My GPG version: 2.1.11
Operating system: Arch Linux
python-gnupg version:

[2016-03-09 18:27] ankostis commented on #47
great!

[2016-03-11 14:43] Jonathanm10 opened #143 "Encrypt : Unknown status message: 'FAILURE' with gnupg version > 2.1.7-1"
OS: Linux jonathan 4.4.3-1-ARCH #1 SMP PREEMPT Fri Feb 26 15:09:29 CET 2016 x86_64 GNU/Linux

python-gnupg: 2.0.2
gnupg : > 2.1.7-1

[code]

Since newer version of gnupg, python-gnupg cannot handle new error when encrypting with emails not in key ring. And that exception cannot be catch from the code.

Thanks in advance taking care of it

Cheers,

Jonathan

[2016-03-28 15:58] doktorstick opened #144 "GPGBase._check_sane_and_get_gpg_version insanity"
gnupg (1.4.0)

I encountered a problem in `_match_version_string` using GPGv1:

[code]

It would seem `_check_sane_and_get_gpg_version` is not fully sanitizing the version nor aborting when it cannot. I still don't know the root cause of the GPG's problem (the system was experiencing general problems, though). What _appears_ to be happening is that for whatever reason, GPG had a hiccup where it ex

[2016-04-04 09:02] kerstin commented on #123
I'm interested in this as well, but I'm not sure if issues are being read. (The repo is still regularly being committed to but there are quite a number of issues also from 2015 which have never commented on, hmm.)

[2016-04-04 09:25] kerstin commented on #47
That's good to hear – it took me several days to realise I was confusing two packages/sometimes working with the 'wrong' one. /:

[2016-04-04 09:59] kerstin opened #145 "Issues with _util.py on Linux"
Heya, line 378 of _util.py gives me an invalid syntax error on Linux on import of gnupg...

[code]

[2016-04-04 10:15] kerstin commented on #107
I'm not exactly sure what your issue is about – are you asking for the tilde to get auto-expanded to the user's home directory when using gnupg (instead of having to do it manually as is the case with Python code in general)?

[2016-04-04 13:23] kerstin commented on #107
Also, seeing as you used ```gnupghome``` to refer to the home directory: did you simply get it mixed up with ```homedir``` or did you confuse the two libraries?

This one's called ```python-gnupg``` here on GitHub but the package name is actually ```gnupg``` and it's based on the original ```python-gnupg``` package (which I think is also still being developed, and which would get installed as ```p

[2016-04-04 13:47] kerstin opened #146 "homedir/$HOME directory"
The usage of ```homedir``` has left me confused.

The [gnupg documentation](https://pythonhosted.org/gnupg/gnupg.html#gnupg-module) says:
```homedir (str) – Full pathname to directory containing the public and private keyrings. Default is whatever GnuPG defaults to.```

The [GnuPG documentation](https://www.gnupg.org/documentation/manuals/gnupg/Agent-Options.html#option%20--homedir), which you are

[2016-04-04 13:49] kerstin commented on #47
(I think it'd additionally help if the repo were then also renamed to reflect the actual name.)

[2016-04-07 10:14] DoctorJellyface opened #147 "Version is 'unknown' when installing with with setup.py"
Same symptoms as #80.

I'm trying to build this using this AUR [package](https://aur.archlinux.org/packages/python2-gnupg-isis/), but I keep getting the version `unknown`, no matter what I do, which is causing problems with version checks in other packages.

[2016-04-07 14:10] DoctorJellyface commented on #147
This isn't a problem in https://github.com/leapcode/python_gnupg-ng

[2016-04-10 10:42] slafs commented on #107
Apparently I didn't know there are two different libraries and I did mean `python-gnupg`. Also my issue desc is terrible. Even I have problems understanding myself.
Sorry for the noise.

[2016-04-10 10:42] #107 closed

[2016-04-10 11:10] kerstin commented on #107
@slafs I'm a fellow user who's had the same happen to them. ^^ And we're not alone, there are actually a couple of issues with the same topic.

I think the most confusing parts are that library name and repo name don't match up and that the latter is identical with the other library's name, and that both libraries are imported using `gnupg`.

[2016-04-10 11:18] kerstin commented on #107
PS: I was originally interested in your question because I misunderstood the usage of homedir/gnuhome in both libraries (see #146).

I'm also using the original `python-gnupg` now though because I unfortunately can't get `gnupg` to work on Linux... (#145)

[2016-04-27 20:49] zarniwoop123 commented on #110
Thanks. I had the same issue.

[2016-05-17 21:09] pwfff commented on #49
This solution needs to be rethought. Changing this global callback is affecting other code, most notably the DataStax Cassandra driver. The exception in the following code is never raised, so what is already valid UTF-8 has its characters replaced with garbage: https://github.com/datastax/python-driver/blob/master/cassandra/cqltypes.py#L675

[2016-05-18 15:04] tyroneyeh commented on #130
Same problem, solved to do:
rm -rf /usr/lib/python3.4/site-packages/gnupg

[2016-05-18 18:47] meskio commented on #122
I think this is related to gpg2, I'm seeing similar issues.

It looks like is the same than #137

[2016-06-01 15:03] ror6ax opened #148 "Package broken(?)"
What is the status of the project here?
`Encrypt_file` is in reality `encrypt`.
`recepients=None` gives me `TypeError: _encrypt() got multiple values for keyword argument 'recipients'`

That's pretty basic stuff not working. Is there stable fork?

[2016-06-16 15:41] jantman opened #151 "Export with gpg 2.1.11 raises exception because of wrong parser class"
[code]

But the returned value is correct.

The problem appears to be in [gnupg.py L442](https://github.com/isislovecruft/python-gnupg/blob/2.0.2/gnupg/gnupg.py#L442):

[code]

However, DeleteResult [raises ValueError](https://github.com/isislovecruft/python-gnupg/blob/2.0.2/gnupg/_parsers.py#L886) if the status message is anything other than "DELETE_PROBLEM". It seems that, at least for newer gpg

[2016-07-15 09:00] gkapkowski opened #153 "Using `from __future__ import unicode_literals` in Python 2.7 breaks `verbose` flag pased to GPG class"
[code]

[2016-08-01 19:52] doktorstick opened #156 "[2.0.2] decrypt failure, works on 1.4.0"
I've a fairly stable system. For the most part, save security patches and a few minor quality-of-life upgrades, it package state is untouched. I've been using `gnupg-1.4.0` for over a year and decided to upgrade to `gnupg-2.0.2`. In testing, I discovered that my application could no longer `decrypt` messages. I've included the failure and success cases below.

[code]

What was working under `gnupg

[2016-08-01 20:10] doktorstick commented on #156
Additionally, the encrypted data, while the same length (610), does differ between the two versions. The first 13 bytes are the same for this particular test:
[code]

[2016-08-02 20:05] doktorstick commented on #156
In `_copy_data`, the routine `binary` is messing up the input data.
[code]

It's taking a `bytes` string and decode/encoding it and creates... something; the operation is not idempotent. If in `_copy_data`, I change the code to:
[code]
it works like a champ, both encrypting and decrypting`bytes` data type.

When examining the operation on the `bytes` plaintext string, the `binary` routine is idemp

[2016-08-19 12:13] jagguli opened #157 "Unknown status message: u'KEY_CONSIDERED'"
New status line is not supported ?

https://lists.gnupg.org/pipermail/gnupg-announce/2016q2/000390.html

[code]

[2016-08-21 09:21] heartsucker opened #158 "GPG().list_sigs() fails with KeyError"
Possibly related to #142.

Python:
[code]

Output:
[code]

This output is the same for listing signatures for all keys or listing signatures for one key. The output is the same for both `gpg` and `gpg2` binaries.

Output from matching `gpg` commands:
[code]

My env:
[code]

[2016-08-21 11:53] heartsucker commented on #158
In the event someone gets to this before I solve it all the way, the problem is the `ListKeys` object is not having the `uid` field called which resets the `self.curuid`. This causes the `KeyError` on a subsequent call to `sig`.

[2016-08-21 14:48] heartsucker opened #160 "Listing keys by fingerprint returns keys with non-matching fingerprints"
Python code:
[code]

Output:
[code]

Searching for that fingerprint with `gpg2` returns:
[code]

My env:
[code]

[2016-08-21 15:47] heartsucker commented on #160
I used the library wrong. Disregard this.

[2016-08-21 15:47] #160 closed

[2016-08-23 00:44] stefan2904 commented on #146
This also confused me.

Apparently the lib uses *_util._conf* to initialize *homedir*
see https://github.com/isislovecruft/python-gnupg/blob/master/gnupg/_meta.py#L177
which is set to */.config/python-gnupg*
see https://github.com/isislovecruft/python-gnupg/blob/master/gnupg/_util.py#L124
(instead of *_ugpg*, I am not sure why.)

At least it's documented correctly in the code ...
https://github.co

[2016-08-23 00:49] stefan2904 commented on #146
(probably related to #154)

[2016-08-23 00:53] stefan2904 commented on #127
you could try ```sign```
https://python-gnupg.readthedocs.io/en/latest/gnupg.html#gnupg.GPG.sign
or ```_sign_file``` (internal API)
https://python-gnupg.readthedocs.io/en/latest/gnupg.html#gnupg._meta.GPGBase._sign_file

[2016-08-23 00:56] stefan2904 commented on #156
I can confirm this issue.
I fail to encrypt a binary file in the following way:

[code]

The encryption works, but it messes up some bytes, so the decryption of the produced ciphertext is meaningless.

[2016-08-25 14:24] dijit opened #161 "OpenBSD fails to instantiate GPG() class."
Hello, I'm trying to get the gnupg package working on OpenBSD (5.9).

Details:
python: `Python 3.5.1`
pip: `pip 8.1.2 from /usr/local/lib/python3.5/site-packages (python 3.5)`
OS: `OpenBSD echo.e3.drk.sc 5.9 GENERIC.MP#1888 amd64`
gpgdir: `/home/dijit/.gnupg`
gpg:
[code]

gpg operates normally when called from bash/zsh/fish.

installation from pip:
[code]

Installing from git:
[output.txt](https:/

[2016-09-21 00:39] tyroneyeh commented on #157
I have same problem, but add KEY_CONSIDERED status to gnupg.py can solved my problem!
if not to reinstall gnupg to 2.1.12 version

gnupg.py diff:
[code]

[2016-10-01 14:25] 984958198 opened #162 "TypeError: child watchers are only available on the default loop"
Traceback (most recent call last):
  File "/home/risingstar-erp/source/risingstarerp/controllers/zhonghang.py", line 266, in sftp_download_orders
    retfile = gpg_decrypt_file(localPath)
  File "/home/risingstar-erp/source/risingstarerp/controllers/zhonghang.py", line 1132, in gpg_decrypt_file
    status = gpg.decrypt_file(f, passphrase=gpg_pw, output=output_name)
  File "/home/tg2env/local/lib/p

[2016-10-04 15:19] robertchen commented on #135
Anyone resolved  this issue?

[2016-10-05 11:04] luluhaurat commented on #157
@tyroneyeh It seems you are not on the right repo. [This one](https://bitbucket.org/vinay.sajip/python-gnupg) miht be the one.
@jagguli Same thing here, using Arch and gnupg 2.1.15
Does anyone worked on it ? And by the way I'm not sure to understand what this new status line means

[2016-10-05 11:05] luluhaurat commented on #157
@tyroneyeh It seems you are not on the right repo. [This one](https://bitbucket.org/vinay.sajip/python-gnupg) miht be the one.

Does anyone worked on it ? And by the way I'm not sure to understand what this new status line means

[2016-10-06 00:55] tyroneyeh commented on #157
@luluhaurat Sorry, this bug maybe is the repo https://github.com/vsajip/python-gnupg/

[2016-10-09 22:40] luluhaurat opened #164 "Missing Key-Usage and Subkey-Usage in generation key input"
For the moment, we can't generate a RSA key for encryption and/or authentication :
[code]

Here is a part of gnupg.py, in gen_key_input
[code]
It adds all arguments to parms, except the Key-Usage and Subkey-Usage.
Why is that ?
Moreover, the comment is in contradiction with the docstring :
[code]

[2016-10-09 22:48] luluhaurat commented on #164
My bad, duplicate of [this](https://github.com/isislovecruft/python-gnupg/issues/125) issue.

[2016-10-09 22:48] #164 closed

[2016-10-24 20:30] sawall commented on #49
This solution definitely needs to be rethought. It breaks MIME encodings of attachments, e.g., the base64 representation of an image will be munged here:
`import gnupg
gpg = gnupg.GPG('/path/to/gpg')

import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.image import MIMEImage

def send_my_email():
    msg = MIMEMultipart()
    msg['Subject'] = 'subject'
    msg['From'] = '

[2016-10-25 15:59] sawall commented on #49
Note that a workaround for this glitch is to define `gpgon` and `gpgoff` functions and use them around any gpg calls.

    import codecs
    default_strict_func = codecs.lookup_error('strict')
    import gnupg
    gpg = gnupg.GPG(app.config['GPG_LOCATION'])
    gpg_strict_func = codecs.lookup_error('strict')
    def gpgon(): codecs.register_error('strict', gpg_strict_func)
    def gpgoff(): codecs

[2016-11-06 14:59] SkiFire13 commented on #119
Same problem... unable to solve

[2016-11-25 08:31] balazs-torok opened #169 "Code page conversion renders binary files unusable during encryption"
When I used the GPG.encrypt() function with a binary file stream, it converted the binary data from and to UTF-8 before sending it to gpg. This rendered the encrypted file (e.g. a zip file) unusable after decryption.

I fixed it by changing _util.binary()

    if _py3k and isinstance(data, bytes):
        encoded = data
#         encoded = coder.encode(data.decode(coder.name))[0]

It may not be th

[2016-11-28 23:21] axfelix commented on #119
I can duplicate. This is the output of gpg2 installed from choco:

    $ gpg2 --version
    gpg (GnuPG) 2.0.30 (Gpg4win 2.3.3)
    libgcrypt 1.6.6
    Copyright (C) 2015 Free Software Foundation, Inc.
    License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
    This is free software: you are free to change and redistribute it.
    There is NO WARRANTY, to the extent permit

[2016-11-28 23:51] axfelix commented on #119
this regex seems to work fine on both the Windows and Linux gpg2 --version output:

`'(\d+)(\.)(\d+)(\.)(\d+)'`

albeit I can't quite tell why the current one is failing, or how you're doing the version check currently.

[2016-11-28 23:58] axfelix commented on #119
Unfortunately, I'm also getting some issues trying to run this in Windows 10's Ubuntu 14.04 subsystem with all of the dependencies (as far as I can tell) installed:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/usr/local/lib/python2.7/dist-packages/gnupg/gnupg.py", line 125, in __init__
        ignore_homedir_permissions=ignore_homedir_permissions,

[2016-12-12 04:38] zanjibar commented on #110
How decrypt ?

[code]

[2016-12-12 20:34] rpdelaney opened #172 "ValueError: Unknown status message: 'WARNING'"
[code]

Happens for me when the gpg-agent is out of date:

[code]

[2016-12-20 22:57] isislovecruft commented on #146
The documenation is wrong and needs to be fixed. See [this comment](https://github.com/isislovecruft/python-gnupg/pull/154#issuecomment-268377477) which explains why we don't use the actual standard `$GNUPGHOME` by default.

[2016-12-20 22:58] isislovecruft commented on #145
What version of python are you using?

[2016-12-20 23:01] isislovecruft commented on #130
@GeorgeGkas-zz You're using a different library, also named python-gnupg, created by Vinay Sajip. This library does not support search/send on purpose.

[2016-12-20 23:01] #130 closed

[2016-12-20 23:07] isislovecruft commented on #135
@alexvh The `_read_data()` function reads data from the result in 1KB increments in order to produce the result as a string, which is what you're asking for by calling `encrypt()`, and which is why `encrypt_file()` exists. Sorry, but if you ask Python to store a string that's larger than the available memory on your system, and my library gives you that string as requested, it's not my library's p

[2016-12-20 23:07] #135 closed

[2016-12-20 23:11] isislovecruft commented on #132
Please read the documentation for [the `gen_key()`](https://pythonhosted.org/gnupg/gnupg.html#gnupg.GPG.gen_key) and [`gen_key_input()`](https://pythonhosted.org/gnupg/gnupg.html#gnupg.GPG.gen_key_input) functions.

[2016-12-20 23:11] #132 closed

[2016-12-20 23:14] isislovecruft commented on #148
You're using a different python-gnupg.

[2016-12-20 23:14] #148 closed

[2016-12-20 23:15] isislovecruft commented on #147
@DoctorJellyface Hmm… have you tried checkout out a git tag and building from that?

[2016-12-20 23:16] isislovecruft commented on #127
Thanks for answering that @stefan2904!

@zhangtianye I hope that answered your question, feel free to reopen if otherwise.

[2016-12-20 23:16] #127 closed

[2016-12-20 23:21] isislovecruft commented on #144
Hi @doktorstick! Thanks for reporting this. I think a good solution would be to throw an exception if the `gpg` process exits with non-zero status. (That is, if something's wrong with your system's `gpg` binary, there's not much this library can do to help.)

Patches welcome.

[2016-12-20 23:23] isislovecruft commented on #172
I'll gladly take a patch which takes the contents of the `WARNING` status and calls `log.warn()` with it.

[2016-12-20 23:26] isislovecruft commented on #157
PR #163 fixes this issue, but it needs revision.

[2016-12-20 23:30] isislovecruft commented on #143
Related to #172, and with probably the same solution.

[2016-12-20 23:45] isislovecruft commented on #143
@Jonathanm10 Thanks for reporting this!

[2016-12-20 23:48] isislovecruft commented on #143
@keisetsu (re: https://github.com/SexualHealthInnovations/callisto-core/issues/115) I didn't realise Project Callisto uses my code… I'm a huge fan of your work! I don't have much time for maintaining this library these days, but if there's ever a bug that's harming Callisto users, I'd be happy to prioritise getting it fixed. Please feel free to email me at isis@torproject.org.

[2016-12-21 00:02] keisetsu commented on #143
@kelseyq and other have done the work, I just put in a couple of PRs. Thought she'd like to be in on this.

[2016-12-21 00:44] isislovecruft commented on #143
This should be fixed in version 2.2.0 which I'll release tonight after I fix a couple more bugs related to using gpg-2.1.x.

[2016-12-21 00:44] isislovecruft commented on #172
Fixed in python-gnupg version 2.2.0.

[2016-12-21 00:48] isislovecruft commented on #140
Yikes! The hash should match. Because it doesn't, I'm guessing something suspicious is happening at your Squid proxy (which is a nasty piece of software, by the way, which has historically been used for both censorship and malware delivery).

[2016-12-21 00:48] #140 closed

[2016-12-21 00:52] isislovecruft commented on #123
Fixed in #69.

[2016-12-21 00:52] #123 closed

[2016-12-21 00:55] kelseyq commented on #143
wowowow this is so cool to see @isislovecruft! the sentiment is *definitely* returned. we've had a easy path with this library (aside from local development hiccups) so far but I will take you up on that offer if I need to for sure.

[2016-12-21 00:59] antevens commented on #140
I think you are missing the point, the upstream package has does not match the hash you specified ...

[2016-12-21 01:07] isislovecruft commented on #151
Fixed in python-gnupg version 2.2.0.

[2016-12-21 01:07] #151 closed

[2016-12-21 01:07] #172 closed

[2016-12-21 01:11] isislovecruft commented on #124
I though [this](https://github.com/isislovecruft/python-gnupg/blob/master/gnupg/gnupg.py#L901) was pretty clear:

[code]
But I've gone an added a note on how to encrypt to multiple recipients (basically just an explanation of how `*args` works in Python).

[2016-12-21 01:11] #124 closed

[2016-12-21 01:31] #143 closed

[2016-12-21 01:38] isislovecruft commented on #122
@bts368 Thanks for reporting this!

@meskio Yes, I think this is solved by doing what @dmarsic did in #137 (i.e. putting `allow-loopback-pinentry` into `~/.gnupg/gpg-agent.conf` and restarting the gpg-agent process).

I'll guess I'll add a handler for `PINENTRY_LAUNCHED` which explains this in a `log.error()` message. Better ideas welcome.

[2016-12-21 01:42] isislovecruft commented on #122
@bts368 Also, the reason this is happening in your case is that you've configured a pinentry program, and you didn't supply a `passphrase=` parameter to `gen_key_input()`. Try supplying the passphrase, so that it doesn't try to get it from pinentry.

[2016-12-21 01:54] isislovecruft commented on #137
@dmarsic Yes. Thanks for reporting this! I'll add it now.

[2016-12-21 02:31] isislovecruft commented on #122
This should be fixed in 2.2.0, which also includes the fix for #137.

[2016-12-21 02:31] #122 closed

[2016-12-21 02:32] isislovecruft commented on #137
@dmarsic This should be fixed in python-gnupg version 2.2.0. If not, please feel free to reopen!

[2016-12-21 02:32] #137 closed

[2016-12-21 02:33] isislovecruft commented on #109
@marcwebbie Great thanks! Feel free to reopen if you find anything.

[2016-12-21 02:33] #109 closed

[2016-12-21 02:38] isislovecruft commented on #112
Hi @theherk! Thanks for reporting this! python-gnupg should not ever be touching `~/.gnupg` unless you specifically instruct it to. Is this issue still happening? Also, if it still happens, could you give me the output of `ls ~/.gnupg` before and after? (GnuPG>=2.1.0 switched to using `.kbx` files. However, if a `pubring.gpg` is present it will *only* read that and not the `.kbx` files, causing Gn

[2016-12-21 02:42] isislovecruft commented on #110
Hi @chrishinds! Thanks for the suggestion! I agree that the API needs some work there. I'm happy to take a patch for this change, but since it would break backwards compatibility, I'd have to start a branch for python-gnupg 3.x.x and possibly maintain two sets of bug patches. It's be nice to group this together with any other API fixes which are non-backwards-compatible.

[2016-12-21 02:51] isislovecruft commented on #114
@torfsen Could you please retry with the new environment variable support (added in #131 and #115) and see if that works for you?

[2016-12-21 03:07] isislovecruft commented on #141
Hi @antevens! Thanks for reporting this! You're correct that it should be `cls`, not `self`. I'm going to go ahead and fix that now, but if you'd like to open a PR for adding `trusts=` as a string, I'd be happy to take the patch.

[2016-12-21 03:13] isislovecruft commented on #141
Fixed in python-gnupg version 2.2.0.

[2016-12-21 03:13] #141 closed

[2016-12-21 03:22] isislovecruft commented on #161
Hi @dijit! Thanks for reporting this! It seems like your Python has trouble communicating with subprocesses. Is that also true for other subprocesses? E.g. does this fail:

[code]

Also maybe try it with a couple different commands?

Unfortunately, I don't have an OpenBSD box to test this on, and since I'm currently in the process of moving to a different country and my stuff is being shipped, I l

[2016-12-21 03:36] isislovecruft commented on #162
Hello @984958198! Unfortunately, the library you're using isn't *this* python-gnupg, it's https://bitbucket.org/vinay.sajip/python-gnupg/. This library doesn't have that bug. Please report your bug over there!

[2016-12-21 03:36] #162 closed

[2016-12-21 03:50] isislovecruft commented on #119
Hi @ksfrazier, thanks for reporting this! As you noted above, you have to specify the *full path* to the gpg binary.

@axfelix Thanks for uncovering some more issues! I've added a patch (36800a6bd) to fix the regex and allow multiple digits for the revision semantic version number (but not major or minor, because any binary reporting to have version `23.1.0` or `1.23.0` would be lying). I've also

[2016-12-21 03:51] isislovecruft commented on #119
This should be fixed in python-gnupg version 2.2.0.

[2016-12-21 03:51] #119 closed

[2016-12-21 03:52] isislovecruft commented on #119
@axfelix @ksfrazier Please feel free to reopen if python-gnupg 2.2.0 doesn't work for you!

[2016-12-21 03:55] isislovecruft commented on #158
@meskio and I have some questions about the patch for this, in the review which was started for the patch in #159.

[2016-12-21 04:03] alexvh commented on #135
encrypt_file() doesn't exist courtesy of 295d98f and I'd argue that any function named encrypt() that can accept a file or byte stream as input and output to a file should not be bounded by memory constraints, but thanks for the attitude on the simple bug report, much appreciated.

[2016-12-21 04:08] isislovecruft commented on #169
Oh god. I don't know what to do here. Unencoded or differently-encoded data needs to undergo this conversion. However, there's no way to detect valid unicode… it's essentially arbitrary binary. I'm at a loss for what to do here, and open to suggestions.

[2016-12-21 04:16] isislovecruft commented on #121
Hi @KopfKrieg! Thanks for reporting this! (And much thanks for also providing a test script!)

In #143, I fixed the issue you're having with the `KeyError` for the `FAILURE` status message. This *should* fix your problem. If not, please feel free to reopen this issue.

[2016-12-21 04:16] #121 closed

[2016-12-21 04:24] isislovecruft commented on #120
Fixed in python-gnupg version 2.2.0.

[2016-12-21 04:24] #120 closed

[2016-12-21 04:27] isislovecruft commented on #125
There's a question about compatibility with older versions of GnuPG on the patch for this in PR #126.

[2016-12-21 04:30] isislovecruft commented on #134
There's code review started for the patch in PR #136, which needs only very minor revision to add a comment about what a regex is supposed to do.

[2016-12-21 04:31] #114 closed

[2016-12-21 04:39] isislovecruft commented on #156
Suggestions and patches welcome for fixing this. My suggestion for now is to leave `armor=True` and not mess around with the data compression. :/

[2016-12-21 04:47] isislovecruft commented on #153
Hi @gkapkowski! Thanks for reporting this! It should be fixed in python-gnupg 2.2.0.

[2016-12-21 04:47] #153 closed

[2016-12-22 12:35] CrystallineCat commented on #145
The `u` prefix for string literals was removed from the syntax in Python 3.0, then added back in as a no-op in 3.3 (see https://www.python.org/dev/peps/pep-0414/).

To support all versions, you can use the respective text type constructor (`str` or `unicode`) without arguments, which will create an empty string:

    (str if _py3k else unicode)().join(...)

Alternatively you can use the `six` modu

[2016-12-22 13:05] sigmavirus24 commented on #145
@CrystallineCat correct. On top of that the versions of Python 3 which don't support `u` prefixing should have already reached their End of Life. So, I don't see anything wrong with using `u` prefixed strings here.

[2016-12-22 20:32] KopfKrieg commented on #121
I'm sorry, but it does not seem to be fixed. Running the testscript gives this result:

´´´
$ python test_encrypt-decrypt.py
b'\x8c\r\x04\t\x03\x02#\x8edX\x0f\xb3[\x08\xe4\xd2?\x01A\xcc=\x08(6\xaa^\xd61\xec\xed\xc4\x0f\x18\xe5\x88\xaa\x01\n\xf2\xc1\x1d\xde\xd8V1\xa9V\x16\xff4P\x92\xe4x\xc4\x0f;ZX%l\xb6\xe6!\xb2\xf1\xaf+\x8b\xabQ\xac\xd3\xd9\xc6\x87\x92\x984\xd0'
b''
[code]

[2016-12-23 13:31] olabini commented on #169
It might make sense to simply add a new function GPG.encrypt_raw() for these cases, making it the callers responsibility to use the right thing, since the caller hopefully will know the type of data.

[2016-12-28 19:08] bradleyhurley commented on #110
@zanjibar
`gpg.decrypt(x.data, passphrase='bar', output='/path/to/write/file')`

[2017-01-03 18:26] axfelix commented on #119
I'm afraid I'm still having the issue...

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "C:\ProgramData\chocolatey\lib\python3\tools\lib\site-packages\gnupg\gnupg.py", line 162, in __init__
        self.create_trustdb()
      File "C:\ProgramData\chocolatey\lib\python3\tools\lib\site-packages\gnupg\gnupg.py", line 172, in create_trustdb
        if self

[2017-01-03 20:06] nick-allen opened #174 "sign fails on PROGRESS message"
GPG.sign intermittently fails on "PROGRESS need entropy" status messages

[code]

[code]

Equivalent system call:

[code]

Results

[code]

[2017-01-05 15:14] dijit commented on #161
Sorry for the late reply.

So, your snippet fails, I think this is due to `cmd` containing args and the executable.

I tried this:

[code]

and:

[code]

and they both return `None`

[2017-01-06 23:30] sakof commented on #137
I'm quite new to python-gnupg, but it seems to me that I'm having this issue with 2.2.0.
[code]
On fedora:24 docker image from docker hub.
[code]

Output:
[code]

[2017-01-11 00:12] zanjibar commented on #110
thank you @bradleyhurley
[code]

[2017-01-17 05:46] hqinnus commented on #157
I also got error `ValueError: Unknown status message: u'KEY_CONSIDERED'`

But the trace is a bit different (I got two error from _parsers.py in different location):
[code]

[code]

Are these also going to be fixed?

[2017-01-18 21:02] kumrzz commented on #119
hey @axfelix, can you please try using the non-spaced version of Program Files?
i.e. `'C:/Progra~2/GNU/GnuPG/pub/gpg2.exe'` instead of
&nbsp; `'C:/Program Files (x86)/GNU/GnuPG/pub/gpg2.exe'` ... seemed to work for me(:gb:)

to devs(@isislovecruft?) , I see in `gnupg/_meta.py`(currently L603):
`if platform.system() == "Windows":`
&emsp;`# TODO figure out what the hell is going on there.`
&emsp;`

[2017-01-18 21:04] axfelix commented on #119
that worked! God, Windows is the worst sometimes. I spent a while googling to make sure I wasn't hitting any Python path expansion issues before my last comment... thanks a ton! Sorry for the trouble.

[2017-01-18 21:08] kumrzz commented on #119
mate, u have no idea what an arseache this was for me! I literally had to drill down into each component library and submodule to get to the culprit hehe ... dammit Windows! 😡

[2017-01-18 21:10] axfelix commented on #119
Wouldn't have even hit the issue if git bash shipped with gpg2 rather than 1.x, or if gpg2 installed via choco didn't go to a path with spaces in it by default...

[2017-01-20 21:30] axfelix opened #175 "Windows response codes seem to not be supported properly"
Exception in thread Thread-11:
    Traceback (most recent call last):
      File "C:\ProgramData\chocolatey\lib\python3\tools\lib\threading.py", line 914, in _bootstrap_inner
        self.run()
      File "C:\ProgramData\chocolatey\lib\python3\tools\lib\threading.py", line 862, in run
        self._target(*self._args, **self._kwargs)
      File "C:\ProgramData\chocolatey\lib\python3\tools\lib\site

[2017-01-26 23:46] liudude123 commented on #119
this is so seriously broken:
keydir = "keys"
gpgbin = r"C:/Progra~2/GNU/GnuPG/pub/gpg2.exe"
gpg = gnupg.GPG(binary=gpgbin, homedir=keydir, ignore_homedir_permissions=True)
references
.\keys\keyspubring.gpg
.\keys\keyssecring.gpg
this makes no sense, when I originally had a C:/path/to/keyfile for keydir, it would double that and then add the gpg file name. This was the only way I could get it to wo

[2017-02-01 07:01] paulocsanz commented on #157
I'm having the same problem as @hqinnus.

It made impossible to verify signatures, I fixed locally by ignoring (pass) the key "KEY_CONSIDERED" in Verify._handle_status and in ImportResult._handle_status (at _parsers.py, lines at @hqinnus traceback).

Please fix it soon, I moved from python-gnupg to this package hoping it would have a more stability, but it broke my project.

[2017-02-07 20:23] Alir3z4 commented on #102
I have the same issue as well.
Python 3 doesn't work.

[2017-02-25 17:38] piccoloaiutante commented on #137
I'm having the same issue on 2.2.0 on OSX 10.12.2 while decrypting:

[code]

[2017-02-26 21:25] lovetox commented on #47
hi,

apart from the package name, which i dont care at all, the bigger problem is

that if i install your package i cant use the original `python-gnupg` anymore, because a `import gnupg` always loads your fork.

is there a solution?

[2017-02-27 12:49] sigmavirus24 commented on #47
@lovetox changing package name is one thing. Changing import name is an entirely different thing. There's nothing you can do except not install both packages in the same environment.

[2017-02-27 15:29] lovetox commented on #47
and why was the same import name chosen for a not drop in lib?

so now if i want to use a software that depends on python-gnupg, i cant use any software that depends on gnupg? seriously what the fuck

[2017-03-01 14:18] flexd opened #179 "Handle non-existant KeyID/Fingerprint when encrypting"
Hi there! Please correct me if I am doing this wrong.

`gpg.encrypt(message, *pgp_keys)` where `pgp_keys` is a list of KeyIDs or Fingerprints.

If I `pgp_keys = ['valid key']` or `['valid key 1', 'valid key 2']`, it works as expected. `Crypt.ok` is true, meaning the operation was successful, and Crypt.data has the encrypted data.

However, if `pgp_keys = ['valid key1', 'invalid key here']`, `Crypt

[2017-03-01 20:47] Pavitheran opened #180 "No difference when signing encrypted byte data with binary=True and binary=False"
I am trying to sign some encrypted unarmored data. I want the result to be a raw byte string of the signed encrypted data.

`gpg = GPG(homedir="/path/to/homedir")`

`binary_signed = gpg.sign(encrypted_data, default_key=key_id, passphrase=passphrase, clearsign=True, binary=True)`

`not_binary_signed = gpg.sign(encrypted_data, default_key=key_id, passphrase=passphrase, clearsign=True, binary=False)`

[2017-03-02 09:51] flexd commented on #179
Right, so I turned on debug logging and figure out what is going on.. It's just passing a empty --recipients to gpg, which is failing.

[code]

I notice `DEBUG:gnupg:'--recipient foo' not hex.`. Could that be a returned error instead? That way this will fail when you give it bad keys. It seems like the point where the second key 'foo' just disappears, but we continue on anyway.

[2017-03-02 09:57] flexd commented on #179
gpg will just return `gpg: Missing argument for option "--recipient"` for this call.

[2017-03-02 10:00] flexd commented on #179
gpg also supports passing an email (or anything else that identifies a pubkey) for --recipient, is there any particular reason it was decided to only allow KeyIDs and Fingerprints?

[2017-03-03 09:57] swagat-k commented on #174
can someone answer this? how to avoid this error?

[2017-03-03 10:00] flexd commented on #179
@isislovecruft would love your input on this..

[2017-03-15 16:27] NicoHood opened #181 "Upgrade from v0.4 Help Request"
Hi,
I am the packager of the [ArchLinux Package of python-gnupg](https://www.archlinux.org/packages/community/any/python-gnupg/). I want to upgrade from version 0.4 to your version. Now I need your help:

I only want to provide packages with gpg signatures. I found that you provide them [here](https://pypi.python.org/pypi/gnupg). However those links are ugly long and I also trust the github source

[2017-03-15 19:06] NicoHood commented on #130
@isislovecruft why doesnt it support it on purpose? I need this function and the only way to work around this is to use the recv function.

[2017-03-19 06:39] Dimss opened #182 "Can't add --ignore-time-conflict to the options list"
I'm trying to add the ignore-time-conflict option, to be able to import keys even if there is a clock mismatch. I'm initialise the GPG class in this way
[code]
but for some reason, when I'm executing that code, I see the folioing error:
[code]
To make it works I've patched the _parser.py file. I've updated the _get_options_group function, by adding --ignore-time-conflict option to none_options fro

[2017-03-20 17:07] emi-silva commented on #102
This issue has been open for two years. Any updates? Any alternative GPG packages for python?

In the meantime, I overcame this issue by encrypting and decrypting only in armor mode.

[2017-03-22 11:01] grobinson-blockchain commented on #180
I had this issue too, having read the code I found `clearsign` must be set to `False`. If `clearsign` is True it will not be detached or un-armoured.

    if clearsign:
        args.append("--clearsign")
        if detach:
            log.warn("Cannot use both --clearsign and --detach-sign.")
            log.warn("Using default GPG behaviour: --clearsign only.")
    elif detach and not clearsign:

[2017-03-25 07:58] NicoHood opened #184 "Incorrect shebang for __init__.py"
python2-gnupg E: Dependency python detected and not included (programs ['python'] needed in scripts ['usr/lib/python2.7/site-packages/gnupg/__init__.py'])

When installing python-gnupg with setuptools the shebang needs to be changed for each python version.

[2017-03-25 11:31] sigmavirus24 commented on #184
I'm actually surprised there's a shebang even there. That should probably not even exist.

[2017-03-25 16:58] NicoHood commented on #184
Also setuptools produce `/usr/bin/versioneer.py` which is available for python2 and 3. It seems that this is only required at packaging time and should not exist in the final package. But I am not sure about this. Maybe this needs to be fixed as well.

[2017-04-02 09:42] phryk commented on #157
Have the same problem, and I think it's causing the return values of `gen_key` and `import_keys` to be screwed up. The calls themselves do what they're supposed to, but the result values basically say nothing worked.

From `GPG.encrypt` I get back a `Crypt` object whose `ok` is `False`, `status` is `None` and `stderr` not existing.
From `GPG.import_keys` I get back an `ImportResult` with everythin

[2017-04-02 13:15] NicoHood opened #186 "Wrong fingerprints?"
If I list my fingerprints with this version of python-gnupg (and not the one where it was forked from) it outputs me weird fingerprints that do not match the real fingerprint. However gpg still knows those keys:

[code]

What is going on here? I get the one starting with AB5 as output of this python module, but I need the fingerprint starting with 973.

[2017-04-23 12:35] Fjodor42 opened #187 "Version string RegEx seems wrong"
I'm not entirely sure why the current RegEx doesn't seem to work for me with GnuPG 1.4.20, but the it seems incorrect anyway, so PR coming right up

[2017-05-04 08:50] isislovecruft commented on #187
Hey @Fjodor42! Thanks for pointing this out, and you're entirely correct that the regex is horribly incorrect. Thanks for fixing it!

[2017-05-04 09:41] #187 closed

[2017-05-06 02:01] krysopath opened #189 "-no-tty is enforced even if not in gpg.conf or..."
i just cloned commit adc6f0e9b5ce6d476fa09b3add9746867e7bff2c to check out if this got changed.

I am working with keys that might or not might be signed already, but I till use them for encryption purposes programmatically.  I have encryption failures everytime, when I want to use an unsigned/untrusted key, because the gpg binary wants to have it's yes/NO, which I could figure out from the return

[2017-05-15 11:42] Paradoxis commented on #169
After struggling with this for ages I used the following (very dirty) monkey-patch:

[code]

**Tested on:** Ubuntu 16.04.2 LTS
**Python version:** Python 3.6.1

[2017-05-20 04:15] andrewtchin opened #192 "verify_file usage"
Am I using `verify_file` incorrectly here?
[code]

With the same file/signature:
[code]

Thanks!

[2017-06-02 22:00] Flyy-yu commented on #157
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/local/Cellar/python/2.7.13/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/local/Cellar/python/2.7.13/Frameworks/Python.framework/Versions/2.7/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  F

[2017-06-07 18:30] joshuamcginnis opened #194 "How to Import Private Key w/ Passphrase"
I'm able to import a private key with passphrase like so:

[code]

But I am unable to import a private key with a symmetric passphrase using this lib:

[code]

What is the correct way to import this private key?

[2017-06-07 18:42] joshuamcginnis opened #195 "Unable to Decrypt File"
Since updating to GPG2, I've been unable to successfully decrypt a symmetrically encrypted file using this library.

[code]

[code]

Is there a workaround? Perhaps downgrade to 1.x?

[2017-06-07 19:40] joshuamcginnis commented on #194
Fixed by reading the key contents and passing it to import_keys:
```result = gpg.import_keys(open(private_key, 'rb').read())```

[2017-06-07 19:40] #194 closed

[2017-06-13 18:29] lynnco commented on #157
Just adding my tracebacks to the pile

[code]

The PR https://github.com/isislovecruft/python-gnupg/pull/163 looks like it has a straightforward enough resolution, though

[2017-06-14 12:42] MartinBorg commented on #47
IMHO, the library should have a different import name, too. It is impractical to have "Conflicts" between the two libraries on a distribution level, because one cannot install two applications using the two libraries. Why not change it to e.g. `gnupg_isis` and use `import gnupg_isis as gnupg` to get the shorter name?

[2017-06-23 14:43] dlowry opened #197 "_trustdb Background thread timing issue"
The threaded call in fix_trustdb does not finish until nosetests is well into the tearDown call of unit tests.  The tearDown() is removing temporary directories created for the unittest but the threaded call in fix_trustdb is still creating files. Our nosetest failure rate is approximately 50%.

Below, please find the patch, in the form of a diff, we have implemented to address the issue:
[code]

[2017-06-28 18:56] nixwiz commented on #102
I have the same issue currently when attempting to use decrypt_file.  It works under Python 2.7.

[2017-06-29 16:24] nixwiz opened #198 "PY3: 2.30 decrypt_file fails with "gpg: no valid OpenPGP data found""
Yes, this is similar to #102 , but that has languished for 2 years.

Using the following sample program:

`import gnupg
homedir='/home/vagrant'
gpg = gnupg.GPG(homedir=homedir)
stream = open('testfile.gpg', "rb")
gpg_passphrase="passphrase"
outpath = "testfile.dec"
decrypted = gpg.decrypt_file(stream, passphrase=gpg_passphrase, output=outpath, always_trust=True)
print("ok: {} status: {}\nstderr: {

[2017-07-04 11:14] Paradoxis opened #199 "_homedir_setter unable to handle windows paths"
When setting the home directory, it's not possible to pass a windows style home directory. The path gets escaped before getting padded to `_meta._create_if_necessary`. The lines that cause this:

[code]

[code]

[code]

[2017-07-04 11:49] Paradoxis commented on #199
Working monkey-patch, but the entire library has issues handling paths in Windows which means its still useless.

[code]

[2017-07-09 00:54] phryk opened #201 "importing gnupg fails when zombies are around"
At least on FreeBSD, `import gnupg` seems to fail as soon as there's any zombie process around.

If I'm reading this traceback right, _find_agent in _meta.py is probably the relevant place for a fix.

[code]

If I make a pull request for a fix, should I create a new branch within the repo or use a specified one (!= master)?

[2017-07-13 22:31] jikamens opened #202 "Should be possible to verify detached signature when both data and signature are in memory"
It appears that the module expects either the data being verified or the signature to be a file on disk. It seems to me there should be a way to verify when both the data and the signature are separate in-memory blobs of data.

[2017-08-08 13:09] Necklaces commented on #110
I get a ValueError when I run the code @zanjibar posted above with Python 3.6.2

[code]

Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.6/site-packages/gnupg/_meta.py", line 650, in _read_respons

[2017-08-23 02:34] instantname opened #204 "Error in gen_key() on Windows because of wrong directories"
System: Windows 7, GnuPG 1.4.22, Python 3.6.0, python-gnupg 2.3.0

I tried to create a key like that:
[code]

This lead to the following error:
[code]
The directories seem to be messed up.

If instead I specify the homedir path with backslashes when instantiating GPG, I obtain:
[code]
although I do have the read/write permissions.

[2017-08-30 12:47] instantname commented on #102
In my case, the tiny change below fixes the issue:

[code]

[2017-08-30 12:49] instantname commented on #198
Have a look at #102 again. I have revived the issue with what might be a fix.

[2017-09-06 23:58] #157 closed

[2017-09-07 12:30] MarSoft opened #205 "Problem with importing secret keys"
Steps to reproduce:
1. Create empty directory for gpg home, say `/tmp/gh`
2. `gpg = gnupg.GPG(homedir='/tmp/gh')`
3. `gpg.import_keys("""my secret key data""")`

Expected result: key should be import
Actual result: key is not imported. Debug logs:
[code]
The `import_keys` call itself returns a successful result with all zeroes, as if there was no key in the data block passed.

Background:  Accordi

[2017-09-11 14:16] ashb commented on #123
I don't think this issue is resolved - I'm still having trouble with default install of `gpg2` from brew and v2.3.1 of this module. What is the reason for disallowing symlinks?

(This requirement that gnupg be an absolute binary in the path is not documented anywhere that I could find either.)

[2017-09-13 22:27] isislovecruft commented on #181
Hi! Uh oh, the "python-gnupg" you're packaging isn't my python-gnupg. I think it may be Vinay Sajip's, in which case you have a version with a shell escape security vulnerability in it. This library was created because of that vuln, and is now entirely different to the thing you're packaging.

Sorry for the confusion! Please feel free to reopen if I can do something more to assist.

[2017-09-13 22:27] #181 closed

[2017-09-13 22:41] isislovecruft commented on #174
Hi @nick-allen! Thank you for the bug report. I've fixed your issue in commit `27e47a8f49` which was merged into the `develop` branch for the next release (2.3.2).

[2017-09-13 22:41] #174 closed

[2017-09-13 22:56] isislovecruft commented on #197
Hi @dlowry! Thanks for bug report and extra thank you for the patch. I've applied this in commit `5d47c3b5eb00` and merged it into `develop` for the next version (2.3.2).

[2017-09-13 22:56] #197 closed

[2017-09-13 23:16] isislovecruft commented on #184
Fixed in the next version (2.3.2). Thanks for the report!

[2017-09-13 23:16] #184 closed

[2017-09-13 23:33] isislovecruft commented on #186
I've never seen gpg output like that. That's quite weird. How did you install gpg? What version is it?

[2017-09-13 23:39] isislovecruft commented on #179
Hi @flexd! I would consider a patch which returns an error in some way that is more visible to the programmer; that's a great idea.

Because you should be specific about which key you want to encrypt to. Also for safety reasons I'd rather not parse nearly completely arbitrary inputs, such as email addresses.

[2017-09-14 15:00] NicoHood commented on #186
I am using archlinux with gpg2, latest version.

[2017-09-14 15:02] NicoHood commented on #181
I also contacted the other library maintainer. He fixed this issue already. Maybe you can get in touch with him and work together on a single version. I've noticed you both have some additional features, so it might be worth working together. Due to compatibility I will not update the archlinux package.

[2017-09-26 02:36] shollingsworth commented on #189
Hi there, did you ever figure this out?

[2017-09-26 03:02] shollingsworth commented on #189
Figured out what it was. I passed an array instead of a argument series..
i.e. `self.recipients" = [<key1>,<key2>,<key3>,...]` , calling like this:
`e = self.gpg.encrypt(plaintext,self.recipients)` throws the "no terminal error"
switching to:
`e = self.gpg.encrypt(plaintext,*self.recipients)`  works!

[2017-09-26 12:49] Paradoxis opened #207 "Unknown status message: 'ENCRYPTION_COMPLIANCE_MODE'"
Currently getting this random exception from some thread when encrypting a message.

[code]

Dirty monkey patch:

[code]

Platform: OSX 10.12.6
GPG version: 2.2.0

[2017-10-03 15:22] ankostis commented on #148
Maybe choose a different name for the project?

[2017-10-04 21:39] rupesh1219 opened #208 "gpg: No OpenPGP data found with python3 while decrypting data"
# gnupg version 2.3.1
import gnupg

gpg = gnupg.GPG(gpghome='pathto_home_directory')
gpg.import_keys('privatekey').read()
gpg.import_keys('publickey').read()

with open('filename', 'rb') as f:
    status = gpg.decrypt_file(f, output='test.csv')
    print(status.status)
    print(status.stderr)

status: False
status status: None
status error: gpg: no valid OpenPGP data found.
[GNUPG:] NODATA 1
[GNU

[2017-10-05 19:42] txtcoder commented on #207
I have the same problem, did you end up finding any solutions?

[2017-10-05 20:07] Paradoxis commented on #207
@txtcoder I used the monkeypatch I supplied :)

[2017-10-14 11:33] ammgws commented on #146
Could we please get #193 merged?
First time using `python-gnupg` today and had to spend time trying to figure out what was going on with `homedir`.

[2017-10-17 20:39] a9rkzz opened #211 "Exporting key raises ValueError"
Upon attempting to export a key, the following exception is raised

[code]

As this message is informational, but no action is required, this should not happen

Similar to #157

[2017-10-23 10:01] graingert opened #213 "upload wheels to pypi"

[2017-10-28 20:25] Tuxprogrammer opened #214 "Popen Failing due to invalid _make_args"
I'm using the 2.3.1 release version running on Python 3.6.1 64-bit. This issue is probably related to issue #161 and #144.

I noticed when debugging that the **_make_args()** function in **_meta.py** is not generating command line arguments correctly, because it is stripping **self.binary** of path separators on Windows.

`cmd = shlex.split(' '.join(self._make_args(args, passphrase)))`

This is th

[2017-11-01 19:34] cbrinker commented on #117
Following along with the docs here: http://pythonhosted.org/gnupg/gnupg.html#gnupg.GPG.gen_key_input  and copy/pasting the code lead to expiry dates from long ago. Thanks Tethik for posting your solution!

[2017-11-15 17:13] tomleo commented on #208
I've run into this issue and found the workaround is:

[code]

The issue seems to be that `gpg.decrypt_file` only works with python2, but encoding the encrypted data first then passing it to `decrypt` works in python3.

Hope that helps!

[2017-11-16 19:32] damianialex opened #216 "My private keys are being read as public keys."
I'm not sure what's causing this issue. My code is as follows:

	import gnupg

	gpg = gnupg.GPG(binary='C:/GnuPG/bin/gpg.exe', homedir='./pgp')
	pri_key = 'pri_key.pgp'
	pub_key = 'pub_key.pgp'

	key_data = open(pri_key, 'rb').read()
	import_result = gpg.import_keys(key_data)
	print(import_result.results)

	gpg.list_keys(secret=True) # []
	gpg.list_keys()
	'''
	[{'algo': '1',
	  'date': '151017671

[2017-11-18 11:45] meekn commented on #102
@instantname I've been suffering from the same issue and your solution works. Thanks a lot!

As far as I can see there seems not to be any pull request made for it.
Do you have any plan to do?

[2017-11-18 14:21] instantname commented on #102
@meekn Unfortunately, I don't have a knowledge of the code good enough to be able to say that the fix I propose does not break something else. In particular, there must be a reason why, in the original code, the "if" condition had two cases for what concerns Python 3, and I don't know what that reason is. That is why I did not write a PR.

[2017-11-20 18:03] fuglede commented on #216
Note that this was [cross-posted to SO](https://stackoverflow.com/questions/47397609/using-python-gnupg-my-private-key-is-being-read-in-as-a-public-key/47398279#47398279), and that the post there may contain useful information.

[2017-11-20 18:14] damianialex commented on #216
@fuglede I know, I was the one who posted it.

[2017-11-20 18:35] fuglede commented on #216
The comment was meant merely as a service for anybody else coming across this issue.

[2017-11-25 01:06] meekn commented on #102
@instantname Thank you for your reply. I see the reason.
@isislovecruft If you see this thread, It would be appreciated if you could give some opinion about the patch.
The original code seems to decode-and-encode the byte stream with specific character code (utf-8 default), and it ruins the byte stream.

[2017-12-06 00:10] f-breidenstein commented on #117
Hi everyone,
not sure if this is the same issue, but `gen_key()` also fails completly silent when trying to generate a modern key (eddsa/512/ed25519) with an old GnuPG version (1.4.18 on deian jessie).

[2018-01-03 03:26] weatherhead99 commented on #192
Hi,
I'm having this problem as well, is this the correct usage?
THanks

[2018-01-03 07:08] weatherhead99 opened #217 "verify_file does not work in py3k with binary files"
Hi,
I was having trouble using the verify_file method on binary files with python3. A minimum working example which demonstrates the problem can be found at:
https://gist.github.com/weatherhead99/22d0da1fe374ac538d3ead7cc23fdc81

These signatures validate running in python2 but not python3

(files used for signatures etc are attached, but it works for any binary vs text file)

test_message.tar.gz.

[2018-01-04 16:24] e3rd commented on #49
Thanks for posting this workaround!! I've expanded it so that you may use GPGSafe class instead of gnupg.GPG without having to manage anything.

https://gist.github.com/e3rd/45aed2e93ac20843b6790b6b642da396

[2018-01-18 02:40] haadr commented on #102
Thank you @instantname for the patch!

I recommend simply creating pull request, otherwise this might no receive any attention, which would be a shame seeing as it seems to plain not work with python 3.

[2018-01-18 08:34] instantname commented on #102
@haadr Done!

[2018-02-06 22:19] beardog108 opened #224 "Signature status is None during "key considered" status, causing TypeError exception"
I'd like to apologize in advance if this is a duplicate issue, I searched open/closed issues & PRs, but didn't find anything directly addressing this.

I get a TypeError when verifying signed data. I've checked and the signed data is valid as far as I can tell. I already have a properly generated key pair in ./pgp/ (with no password)

Environment:

- gpg 2.2.4
- Python 3.6.4

[code]
Simply checkin

[2018-02-12 01:57] fincham opened #225 "Fingerprints are returned incorrectly in Debian Stretch"
When using stretch's gpg (2.1.18) the output to --list-keys looks like:

pub:-:4096:1:69CF24CFFE54EBDF:1407760456:1533859600::-:::scESC:::::::
fpr:::::::::9C9C89701ECB0A641BC2C7F569CF24CFFE54EBDF:
uid:-::::1502323600::EB0DD40F1BDD380A60CF491EE2E3D323F498ECE9::Michael Fincham <michael.fincham@catalyst.net.nz>:
sub:-:4096:1:FEE31F229A07F41A:1407760456:1533859609:::::e::::::
fpr:::::::::DF5FE720E44C7

[2018-02-13 08:47] beardog108 commented on #224
@isislovecruft Any thoughts on this?

[2018-02-16 15:05] saavedra29 opened #226 "Are the library tests supposed to run without any Errors or Failures?"
Hello. This is the first time i try to get involved on contributing on open source. Unfortunately i didn't find any channel or way to communicate with the python-gnupg community so i was forced to open an issue.
I use Arch linux, virtualenv with python3.6 installed and every time i run the test suite i get about 23 failures and 13 errors. I've tried with 2 different ways.

1. I clone the repositor

[2018-02-20 07:10] d9pouces commented on #224
maybe:

diff --git a/gnupg/_parsers.py b/gnupg/_parsers.py
index 7dd1ed7..69377fa 100644
--- a/gnupg/_parsers.py
+++ b/gnupg/_parsers.py
@@ -1501,7 +1501,8 @@ class Verify(object):
             ):
             pass
         elif key == "KEY_CONSIDERED":
-            self.status = '\n'.join([self.status, "key considered"])
+            if self.status is None:
+                self.status = 'key con

[2018-02-24 19:20] phryk commented on #201
Bumping because
- it's been over half a year
- it's kind of a critical issue on freebsd
- there's a PR fixing the issue

[2018-02-28 13:30] aventrax opened #227 "(windows), recv_keys not working"
Hello, I'm trying to simply retrieve a public key from a key server, but the same code fails on windows and works on linux. Can you help me?

The code is here:
[code]

On windows, the last line produces an error that I'm not able to understand:
[code]

Windows 10:
Python 3.6.3 (python-gnupg: 2.3.1)
GnuPG 2.1.15 (tried 2.2.5, same result)

Ubuntu 16.04:
Python 3.5.2 (python-gnupg: 2.3.1)
GnuPG 2.1.

[2018-02-28 13:42] aventrax commented on #227
Issue solved simply initializing the  C:\temp directory with gpg.exe:
[code]

After that, the python script worked.

[2018-02-28 13:42] #227 closed

[2018-03-17 21:43] tomgalloway commented on #226
Running tests on my machine via `make install` `make test` I had 26 failures & 4 errors. I've created https://github.com/isislovecruft/python-gnupg/pull/229 to fix up one of the failures.

[2018-03-24 04:21] frankhucek commented on #202
Please do this!!

[2018-03-25 17:44] kristovatlas commented on #180
Thanks @grobinson-blockchain! :)

[2018-03-27 19:24] bensonsmith opened #231 "--recipient is included in the hex_options set"
In _parsers.py, the --recipient option is part of the hex_options frozenset.  It probably belongs in unchecked_options.

[2018-04-02 04:18] Lvl4Sword opened #232 "encrypt() doesn't work"
[code]
Am I doing something wrong here? KEY_ID is gpg.list_keys()[0]['fingerprint']

[2018-04-02 04:25] Lvl4Sword commented on #232
Rather stupid on my part.
.stderr rather than .data gave me "There is no assurance this key belongs to the named user", so I fixed this with the following:

[code]

[2018-04-02 04:25] #232 closed

[2018-04-03 02:40] Lvl4Sword opened #233 "Inability to encrypt and sign at the same time"
Much like what the project was forked from ( https://bitbucket.org/vinay.sajip/python-gnupg ), this fork doesn't have the ability to encrypt and sign at the same time.

Is there a plan or roadmap for this?

[2018-04-17 17:27] zachliu commented on #208
@tomleo It doesn't seem to work. Can you paste your entire code segment including `import_keys` step? Thanks!

[2018-04-17 20:28] zachliu commented on #208
Python 3.6.2

[code]
The same error:
[code]

[2018-06-11 03:02] #189 closed

[2018-06-14 11:43] lambdafu opened #234 "CVE-2018-12020"
As far as I can tell, this fork of python-gnupg is also vulnerable. However, I couldn't test it, because it didn't work with my version of GnuPG.
In any case, this is a heads up. You might consider adding `--no-verbose` to the cmdline.
See https://neopg.io/blog/gpg-signature-spoof/ and https://groups.google.com/forum/#!topic/python-gnupg/2yAlj_F2S1g

[2018-06-15 17:05] davidkhess commented on #217
I ran into the same thing. If you are only dealing with binary files, this monkey patch works too:

[code]

[2018-06-20 17:09] ScottABrown commented on #207
Is this fix merged? I'm still hitting the error for Unknown status message: 'ENCRYPTION_COMPLIANCE_MODE' with an install of the current head of master. The monkey patch seems to fix it.

Thanks,
-Scott

[2018-06-27 04:09] dbr-sh commented on #224
To anyone else having this issue, it's solved correctly by this PR: https://github.com/isislovecruft/python-gnupg/pull/220/commits/9023a6ecc23c8d96c82d4a7d5af6b0c6bbfe8d28

[2018-07-06 15:01] anarcat commented on #234
according to [this blog post](https://blog.patternsinthevoid.net/pretty-bad-protocolpeople.html), this project is not vulnerable.

[2018-07-07 00:43] JAnderson1122 commented on #205
Hi!  Any further developments on this issue, or work-around or monkey patches figured out?

My app currently works on a server running gpg 2.0, but I am expecting the server to be upgraded any time now...

[2018-07-24 19:46] #234 closed

[2018-07-25 07:34] yunweiguo opened #237 "How to encrypt files in batch"
I want to encrypt two and more files in one times.
the function is

'''
   gpg = gnupg.GPG(homedir=config.GNUPGHOME, binary='/usr/bin/gpg')
    with open(source_file) as f:
        data = f.read()
    fg = "***"

    out = gpg.encrypt(data, fg, default_key=True,
                      passphrase=config.TIGER_GPG_PASS_PHRASE, armor=False, output=target_file)
    with open(target_file, 'wb') as f:

[2018-07-25 19:10] #201 closed

[2018-07-25 19:12] isislovecruft commented on #201
Hi @phryk! Thank you for reporting this, and I'm very sorry it took me so long to get around to addressing it. This _should_ be fixed for you in version pretty-bad-protocol-3.0.1. If not, please feel free to reopen the issue.

[2018-07-25 19:16] #213 closed

[2018-07-25 19:40] graingert commented on #213
@isislovecruft

[2018-07-25 22:41] #211 closed

[2018-07-25 22:41] #144 closed

[2018-07-25 22:47] isislovecruft commented on #207
This is fixed in #220 which will be included in the next release (3.0.3).

[2018-07-25 22:47] #207 closed

[2018-07-25 22:51] isislovecruft commented on #182
Hi @Dimss! Nope, adding it as you have done is the correct way. If you'd like to submit a PR with your patch, I'll gladly take it.

[2018-07-26 03:10] isislovecruft commented on #217
Hi @weatherhead99! Thanks for the patches!

I think there might be a typo in your https://gist.github.com/weatherhead99/22d0da1fe374ac538d3ead7cc23fdc81 script? Although (and my apologies if so) it might just be a version difference since it's unfortunately taken me a while to get to your patch. The problem is with the `assert(import_key_result.results[0]["fingerprint"] is not None)` line… since t

[2018-07-28 21:44] taylorjdawson opened #239 "README Markdown Syntax Error"
README.md line 48 extra colon causing `.. codeblock:: python ` to show up in readme.

[2018-08-03 02:17] weatherhead99 commented on #217
@isislovecruft  yes you're absolutely right - though I think the problem might not be the version but that I generated the keys with an expiry date before the date which you ran the example :-)

[2018-08-29 16:28] chaudharydeepak opened #241 "Not able to verify sign generated for a tar archive-"
stream = open(archiveinput, 'rb')
status = gpg.sign(stream, passphrase=_salt, detach=True)
stream.close()

This generated a detached signature file. But on trying to verify the generated sign from vanilla command line gpg --verbose --homedir /home/developer/dev_work/certs/gpghome --verify filename.tar.gz.sig filename.tar.gz, returns BAD SIGNATURE.

[2018-10-05 04:37] jannschu commented on #225
Can confirm. The problem is [here](https://github.com/isislovecruft/python-gnupg/blob/9a5090c79c49563bb76be3fb0d2c922ac761c573/pretty_bad_protocol/_parsers.py#L1149), if there are subkeys the fingerprint of the subkey overwrites the the correct one.

A fix might be

[code]

[2018-10-05 04:40] jannschu opened #243 "Detached signatures do not work as expected"
Hi,

[code]
and
[code]
produce idential outputs. This is related to #180. Adding `clearsign=False` makes it work. This seems an API bug.

Possible fix: Change the default parameter values from `False` to `None` und adjust the logic.

[2018-10-11 11:20] jannschu opened #246 "DO NOT USE THIS LIBRARY: Includes critical bug (global monkey-patch which breaks unicode and email sending!)"
This library has a serious bug, see #244. The short story is: A global change in the error handling of unicode decoding breaks Pythons MIME code and potentially other things. See the comments in issue #49.

The maintainer has, as stated in the README, not much time to spend on this project (not blaming). This issue tries to warn potential users as long as the issues persists.

An alternative might

[2018-10-18 05:57] JPiao opened #247 "Unknown status message: 'KEY_CONSIDERED' for _handle_status"
When trying to export private key:

`gpg.export_keys(key, True)`

I get the following:

[code]

It seems like _handle_status isn't handling the case of of KEY_CONSIDERED.

[code]

As a quick fix, I was going to add a case for this, but not sure what the logic should be if it was KEY_CONSIDERED.

Thanks

[2018-10-30 14:51] #247 closed, assigned to nobody

[2018-10-30 21:23] x1o commented on #110
Vinjay's python-gpg worked for me (version 0.4.3, GnuPG 2.2.4):

[code]

[2018-12-14 13:19] lindhe commented on #246
@isislovecruft Is this true? If so, I think this issue should be marked as important and a disclaimer put in the README.

[2018-12-14 16:38] jannschu commented on #246
There is pull request #219 which would add a note to the README, it is open since January 2018.

It is safe to assume that the project is no longer maintained. Sadly, the README indicates that this fork is an improvement over python-gnupg ("a rewrite") and it **is found prominently on Google**. Its api it not comaptible and the quality is worse (see some of the open issues), though.

From the issu

[2019-01-15 14:59] ndanl commented on #135
sorry for bringing this thread to life, @alexvh how did you solved this issue? or can some one point an example for solving this?
thanks,
Dan

[2019-01-15 17:42] alexvh commented on #135
Switched to the original project (https://bitbucket.org/vinay.sajip/python-gnupg). It's actively maintained again and no longer suffers from the shell injection vulnerability. I actually only used this one by accident (I did "pip install gnupg" instead of "pip install python-gnupg").

[2019-01-19 18:37] arty-hlr commented on #207
Same error here, and the monkey patch did not solve it :/

[2019-01-20 06:01] alexvh commented on #246
This project also has bugs that are rudely dismissed by the maintainer (#135). It's unfortunate that there's no mechanism in GitHub to prevent issues like this and instead let an inferior, unnecessarily complex project squat on another project's name.

[2019-01-22 10:28] jannschu commented on #246
Here is a [blog article from June 2018](https://blog.patternsinthevoid.net/pretty-bad-protocolpeople.html) by @isislovecruft. One claim there is that the shell injection in python-gnupg is not fixed properly despite the [notice on the development page](https://bitbucket.org/vinay.sajip/python-gnupg).  Sadly, I can not tell who is right here. On the hand, I see serious bugs in this project, on the

[2019-01-29 01:57] redshiftzero opened #249 "failure to decrypt on gpg 2.1.x"
## Versions

* Python 2.7.12
* gpg (GnuPG) 2.1.11
* libgcrypt 1.6.5
* `gpg.__version__` 3.1.1 (latest version of this library at the time this issue was filed)

This is a followup from the comments on the closed issue https://github.com/isislovecruft/python-gnupg/issues/137#issuecomment-271038482 which describes a failure to decrypt files using recent (gpg>=2.1.x) versions of gpg2

## Reproducer

[2019-01-30 07:48] redshiftzero commented on #249
ah, passing in `options=['--pinentry-mode loopback']` worked, closing!

[2019-01-30 07:48] #249 closed, assigned to nobody

[2019-01-30 17:56] redshiftzero commented on #137
to the above commenters, I ran into similar problems and I would confirm the following (since these comments are from early 2017 you probably solved already ha, but this comment is for the sake of the person googling this error message):

1. Confirm that `options=['--pinentry-mode loopback']` is used: `gpg = gnupg.GPG(binary='gpg2', homedir=gpg_key_dir, options=['--pinentry-mode loopback'])`
2. Co

[2019-02-11 13:14] chandu-atina commented on #208
@zachliu Did you get to a solution for this problem?

[2019-02-25 19:23] phealy3330 opened #250 "Unknown status message: 'DECRYPTION_COMPLIANCE_MODE' '23'"
Same thing going on with https://github.com/isislovecruft/python-gnupg/issues/207
Just on the decrypt side instead of the encrypt side
I worked around with similar monkey patch from @Paradoxis

[code]

Probably just needs a fix like https://github.com/isislovecruft/python-gnupg/pull/220
working on a patch now

[2019-02-25 19:32] phealy3330 commented on #250
Patch up https://github.com/phealy3330/python-gnupg/commit/52c25a2fa1ca184c765f65a7840ca6d213ddd9b5

[2019-03-05 14:37] ghost opened #251 "mpose options"

[2019-03-05 14:37] #251 closed, assigned to nobody

[2019-03-11 19:57] lsowen opened #252 "`GPGUtilities.encrypted_to` does not work"
Fails complaining:

1. That `AttributeError: 'GPGUtilities' object has no attribute 'find_key_by_keyid'`
2. That `AttributeError: 'GPGUtilities' object has no attribute 'list_keys'`

At least for item 2, the only change is that `self.list_keys()` needs to be replaced with `self._gpg.list_keys()` at https://github.com/isislovecruft/python-gnupg/blob/master/pretty_bad_protocol/gnupg.py#L1134

[2019-03-13 18:46] lsowen commented on #252
Also, I _think_ `_handle_io()` in [`list_packets`](https://github.com/isislovecruft/python-gnupg/blob/master/pretty_bad_protocol/gnupg.py#L500-L501) should use `binary=True` to support both ASCII armoured and non-armoured gpg files?

[2019-04-08 04:53] Hwi-gyeom opened #253 "Do I need to use old version of gpg??"
I use this package in Windows environment, and can't figure out what I should do...

According to error message, I need to use another version of gpg,

but I downloaded the latest version of gpg4win(3.1.7).....(it installed gpg 2.2.15 to me) is there and restriction on the version??

gpg=gnupg.GPG(binary='C:/PleaseGPG/GnuPG/bin/gpg.exe',homedir='./keys',verbose = 'True' )

Got invalid version line

[2019-05-01 16:07] mdedonno1337 opened #254 "GPG version parsing error on Windows"
Error with the version parsing on Windows because of the "\r" before the "\n".

[2019-05-15 03:36] crashvb opened #257 "--no-use-agent passed to gpg2 by default"
Noticed a comment in [gnupg.py](https://github.com/isislovecruft/python-gnupg/blob/784571449032e811587249743e183fc5e908a673/pretty_bad_protocol/gnupg.py#L165-L167) for the deprecated use of --[no-]use-agent flags with gpg2; however, they still appear to be used during the initialization of the class:

[code]

Code to reproduce:
[code]

python-gnupg: gnupg-2.3.1
gnupg: 1.4.20-1ubuntu3.3
gnupg2: 2.1

[2019-05-15 21:07] sharon-indegy opened #258 "Stacktrace of decryption attempt, with repro."
Hi first let me thank you for this brilliant library.

Repro:
import gnupg

gpg = gnupg.GPG(homedir="my .gnupg")
decrypt = gpg.decrypt("valid msg omitted, works with 'gpg -d' ")

print decrypt.ok
print decrypt.data

I get:
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2

[2019-05-17 15:56] sharon-indegy commented on #258
Just saw in your blog how much pain these GnuPG flags cause, I'm sorry to have raised yet another one of those.

[2019-05-21 22:07] peter-t-kim opened #262 "[ERROR] Error sending data: Broken pipe [ERROR]Unable to close outstream <_io.BufferedWriter name=5>: [Errno 32] Broken pipe"
Hello @isislovecruft,

I switched to your library in the hopes that it would resolve this issue which I also experienced on the original python-gnupg package.  I am simply calling the method like so:

`encryptedString = gpg.encrypt(fileObj, recipientID)`

where fileObj is a byte string (b'blah blah') and recipientID is the string containing the recipient user id which I parsed from the key's uids

[2019-05-30 11:38] manikanta-kondeti opened #263 "GnuPG: OSError - Cannot allocate memory"
Package details: `python-gnupg==0.4.4`
System specs: 4GB RAM, 2 core CPU

We're facing a problem with the GnuPG module.

We're using this module to encrypt our reports using a scheduler that triggers the report to generate them periodically.

Most of the times(once in 5 days) we're facing with the following issue: OSError - cannot allocate memory. Please help me out on how to diagnose and fix this

[2019-06-25 01:41] jay2610 commented on #208
we end up switching to 2.7 and it works there fine.

[2019-07-09 22:31] aepiccolo7 commented on #205
There is already support for using passphrases for other io calls so a quick work-around is straightforward:

[code]

This quickly solved my issue for importing secret keys with `gpg >= 2.1`.  You can still omit the passphrase for public key importing.

Note that there may still be issues with other key functionality like delete_keys, though list_keys is fine.  A similar fix should be applicable.

[2019-08-07 18:05] squarepegsys opened #265 "ValueError: Unknown status message: 'ERROR'"
PR #264 addresses an issue I found while creating keys and dumping them into a text file.

the error I got was:

    Traceback (most recent call last):
        File "/Users/michael.hostetler/.pyenv/versions/3.7.4/lib/python3.7/threading.py", line 926, in _bootstrap_inner
      self.run()
      File "/Users/michael.hostetler/.pyenv/versions/3.7.4/lib/python3.7/threading.py", line 870, in run

[2019-08-19 12:02] eli-halych commented on #208
Aslo got the same problem and I don't get what's wrong

### **Decrypting custom code:**
[code]
### **GNUPG's code**
[code]

### **Error**
[code]

### Issue
My situation is a follows - I receive different files ecnrypted/signed with gpg. Most of them are successfully verified/decrypted. Sometime, it happens that a single file will fail and throw the error I mentioned above. On the other hand, the s

[2019-09-26 14:49] rswgnu commented on #98
Still getting this error using GPG 2.2.17 under Debian Linux (using WSL).

[2019-09-26 15:44] rswgnu commented on #98
I should have said the error is coming from gnupg-2.3.1 Python library (Python 3.7) where the _handle_status method of ImportResult does not handle the 'PINENTRY_LAUNCHED' status.  I will check the Python thread on this now.

[2019-09-26 15:52] rswgnu commented on #98
Here is the full traceback:

Traceback (most recent call last):
  File "/Miniconda-linux/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/Miniconda-linux/lib/python3.7/threading.py", line 865, in run
    self._target(*self._args, **self._kwargs)
  File "/Miniconda-linux/lib/python3.7/site-packages/gnupg/_meta.py", line 650, in _read_response
    result._handle_sta

[2019-09-28 11:27] chaoflow opened #266 "Silence log message generated upon import"
Upon ``from pretty_bad_protocol import gnupg`` there is a log message, which I'd like to suppress.

I currently working around it using:

[code]

It would be great is such workaround would not be needed, but gnupg be simply silent upon import.

[2019-10-16 19:09] salvadorparra opened #267 "Version parsing from gpg on windows fails, given a '\r' line end output instead of '\n' from gpg.exe"
https://github.com/isislovecruft/python-gnupg/blob/784571449032e811587249743e183fc5e908a673/pretty_bad_protocol/_meta.py#L530

While trying to implement on windows 10, _VERSION_RE does not match because gpg subprocess outputs '2.2.17\r'. May version_line.splitlines()[0] be used instead?

[2019-11-11 03:42] ghost opened #268 "Fail to install on Fedora 30 - no folder /usr/lib/rpm/redhat/"
This is all the lines produced by "pip install gnupg".

There is no folder /usr/lib/rpm/redhat/ on my pc, it seems that it is a problem.

[code]

[2019-11-14 20:28] killswitch-GUI commented on #268
yum install gcc ?

[2019-11-15 23:43] ghost commented on #268
I'm sorry because I've just moved to Fedora 31, so the previous issue doesn't happend anymore.

gcc were already installed on Fedora 30, like in Fedora 31.

But I have another error on Fedora 31 (with python 3.7.5 this time, the new default one), still related to gcc (9.2.1) execution.

[code]

[2019-12-23 05:19] fabrizio8 commented on #263
Your computer is out of memory. The gnupg module attempts to start another process but fails because the OS won't give it memory. The solution is to add more physical memory or allocate/increase the size of a swap partition.

[2019-12-23 05:44] fabrizio8 commented on #268
It seems you are missing python headers.
`sudo yum install python3-devel` should do it.

[2020-01-08 10:10] stpud-crno-cdoing opened #269 "decrypt function, passphrase arg doesn't work"
passphrase arg does nothing, library still asks password with gui window.
I'm trying to decrypt message with function like this:

[code]

[2020-01-08 10:19] stpud-crno-cdoing commented on #269
Sorry, i've mistaken in password input. All works fine, closed.

[2020-01-08 10:19] #269 closed, assigned to nobody

[2020-01-09 07:33] liz367 opened #270 "daemon with restart crash because of _check_sane_and_get_gpg_version"
i am using python 3.7.0, gnupg 2.3.1 in centos 7.
i want to build a daemon for my service and add a function that monitors the sigchild signal, and restart my service whenever it crashes

i think the daemon code should be right.
when i add the monitor&restart function, it can work correctly with a simple service:

[code]

but something wrong when i use gnupg in my service code, even like this simp

[2020-02-05 08:11] #224 closed

[2020-04-11 14:59] tirkarthi opened #271 "Deprecation warning due to invalid escape sequences in Python 3.7"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. versioneer file is autogenerated and has an issue upstream.

[code]

[2020-06-29 21:04] BonnieH opened #274 "python-gnupg on 3.7"
Are there any plans to make this module compatible with Python 3.7? The docs say it only goes up to 3.4.

[2020-07-06 21:28] fluxquantum opened #275 "Question: Understanding recipients parameters for encrypting files"
Hi, could someone either direct me to documentation or help me understand how to programmatically set the recipients parameter for the encryption method? And understand what value to use for the recipient? Our use case is that we are downloading a public key from s3, use it to decrypt a file, perform some processing, and then re-encrypting the file.

What's the best approach for setting the recipi

[2020-07-25 17:23] nimbius opened #276 "keytocard function?"
functions like keytocard and card based generation dont seem to be present in this module.  can they be?

[2020-08-10 16:50] devorbit opened #277 "TypeError: _encrypt() got multiple values for argument 'recipients'"
Hi All!
I am getting one error where I am trying to do encrypt a file with the following command but its showing error even though I am passing argument recipient one time. Please help me on the same.
rkey: str = 'test_key_id'

with open('my-unencrypted.txt', 'rb') as f:
    status = gpg.encrypt(
        data=f,
        recipients=rkey,
        always_trust=True,
        output='encrypted.txt.gpg'

[2021-01-19 13:33] dikshantshahi commented on #198
I am using Python 3.9 and getting the same issue. Also #102 didnt help. Is there any resolution for this.

[2021-02-26 00:06] crashvb commented on #224
Hello,

Thank you for working to create / maintain a great module :)

This bug does not appear to be fixed as of v3.1.1; parsing still fails for this error when gpg produces output similar to the following:
[code]

It does not appear that the handing of KEY_CONSIDERED is correct when it appears in sequence before `self.status` has been assigned.

Should this bug be re-opened, or a new one created?

[2021-02-26 19:47] asciiletters commented on #208
I was able to solve this issue by removing the gnupg package and installing the python-gnupg package.  They are extremely similar, so I did not realize that I had installed the wrong one.  python-gnupg supports the latest version of GnuPG, so a lot of issues, including this one were remedied.  After I changed the package, something as simple the following started working:
`stream = open(file_path,

[2021-04-19 14:56] kiorq commented on #275
Sharing what worked for me after having to do something similar myself. It seems the `recipients` parameter is the fingerprints or the keyIDs of the recipient's public/private keys.

See documentation:

https://github.com/isislovecruft/python-gnupg/blob/784571449032e811587249743e183fc5e908a673/pretty_bad_protocol/gnupg.py#L987

So you have two options.

1. Import an existing public/private key usi

[2021-04-21 18:43] kiorq commented on #274
Hey @BonnieH, are you having any issues with using this package on python 3.7. I had a similar concern, however, I tested importing keys, generating keys, and encrypting messages on python 3.9 with no issue, enough for my use case. If you've had any trouble with it can you share?.

[2021-04-21 19:18] kiorq commented on #277
I believe `recipients` is supposed to be a list or tuple.

[2021-05-11 00:38] kiorq commented on #233
Answering for others who may face similar issues like I did this week.

Accord this the [codebase](https://github.com/isislovecruft/python-gnupg/blob/master/pretty_bad_protocol/_meta.py#L1013)

When the `default_key` argument is passed to the `encrypt` function. The gpg encrypt command is called with the `--sign` argument in the shell. This also means you need to set a default key to sign with, wh

[2021-05-11 00:42] kiorq commented on #233
Answering for others in the future who may face this issue, like I did this week :).

According to the [encrypt function code](https://github.com/isislovecruft/python-gnupg/blob/master/pretty_bad_protocol/_meta.py#L1013), when the `default_key` argument is passed to the `encrypt` function. The gpg encrypt command is called with the `--sign` argument in the shell. This also means the `--default-key

[2021-05-11 00:45] Lvl4Sword commented on #233
I completely forgot I even made this issue. I've been using the version in my original post, as this one doesn't seem to be updated.

[2021-06-10 15:36] pwillis-els commented on #137
Using Ubuntu 18.04.5 and gpg 2.2.4, using screen, this same issue still seems to happen, and the above fixes the problem. The question is, why is this error still happening?

[2021-06-29 22:38] kwebster2019 commented on #198
bump

[2021-07-30 09:24] ChandraReddy-B opened #278 "gnupg path in Glue"
Please help me How I can provide gnupg home path in AWS GLUE script

[2021-08-02 10:52] aparnabushan commented on #208
@asciiletters  Did it work for python3 ?

[2021-08-18 18:51] spicypenguin commented on #205
Has a fix for this issue ever been merged? I see a commit but doesn't look like this has made it into an update.

[2021-09-12 09:14] constantinedev opened #279 "encrypt_file not work on Linux and Unix"
I don't was it my python version problem or what
when I try to use <code>gpg.encrypt(stream, passhrase, output)</code>
that can work on every fopen data stream override all system
but only when I try to use <code>gpg.encrypt_file(...)</code> in Linux and OSX it not work for encrypt anythings

as well in windows I have use the same python3.8 in 32bit
but even linux and Mac OS I used x64 of python3.

[2021-09-17 23:11] devt20 opened #280 "international characters filename - not encrypting"
I am trying to encrypt the filename which has international characters, for eg : "abc_越智プロファイルーwork.docx" using below code. But it fails.

**#Code**
with open(r'C:\home\encryption\abc_越智プロファイルーwork.docx', "rb") as f:
    status = gpg.encrypt_file(
        file=f,
		symmetric='AES256',
        passphrase='abc@123',
        recipients=None,
        output=r'C:\home\encryption\abc_越智プロファイルーwork.docx.

[2021-12-30 03:04] specious commented on #246
Which projects can be considered serious alternatives to GnuPG?

[2022-01-03 14:38] jannschu commented on #246
Maybe https://sequoia-pgp.org/

[2022-01-19 15:18] kiawin commented on #262
Just a note, the broken pipe is likely due to some error raised during the encryption process.

The following printing of `Crypt` attributes will tell us the reason behind the failure.

[code]

[2022-01-24 14:34] JackDinn commented on #110
Many many thx. I have a ancient encryption/decryption GUI app i built years ago, and it suddenly stopped working. It looked complicated and i was ready to say goodbye to it and all my encrypted texts because i have not used python for many years and have forgotten even where to start.
Turns out after finding this post it was just one added argument.

[2022-02-24 07:42] nathanielfernandez commented on #277
i tried both list and tuple format for recipients, they still give out the same error.

[2022-05-04 22:13] pajuscz commented on #194
I am having the same issue. while looking into the code I don't thin it is possible to import a key using passpharse, because the passpharse is set to `False` by default.

The `_handle_io`:
```def _handle_io(self, args, file, result, passphrase=False, binary=False):```

called from `import_keys(self, key_data)`  is called in this fashion:
```self._handle_io(['--import'], data, result, binary=True)

[2022-05-04 22:28] pajuscz opened #284 "Unable to import private key with passpharse"
I came across this while looking into this closed issue: https://github.com/isislovecruft/python-gnupg/issues/194

I wasn't able to import private key with passpharse using the same method. What happens is that public key is imported, but not the secret key - I cannot decrypt data after I do the import.

While looking into the code I don't think it is possible to import a key using passpharse, bec

[2022-05-04 22:43] pajuscz commented on #284
The key I am trying to import is:
[code]

When I do `gpg --import import.key` I am prompted for passpharse,

When I use `GPG.import_keys()` I don't know how to pass the passpharse and as a result I am getting:
[code]

[2022-05-04 22:46] pajuscz commented on #284
The actual stacktrace with exception is here:

[code]

[2022-05-04 22:48] pajuscz commented on #284
I am using `options=['--yes', '--pinentry-mode loopback']` when initializing the GPG object if that helps.

If I don't use it - there is no error, nor exception but the secret key is not imported - only the public key.

[2022-05-18 01:17] jvperrin commented on #213
If anyone else stumbles across this and is confused, this package is uploaded to pypi under the name `pretty-bad-protocol` (https://pypi.org/project/pretty-bad-protocol/#files) in 3.x+, although I still don't see any uploaded wheels there (only source/egg files).

[2022-05-24 00:09] johnnyutahh opened #285 "encrypt() with recipient's email address (instead of key fingerprint)?"
Question: How to Python gnupg (GPG) encrypt with recipient's email address rather than their fingerprint? https://stackoverflow.com/questions/72355601/how-to-python-gnupg-gpg-encrypt-with-recipients-email-address-rather-than-the

fwiw, code excerpt from `_check_option()`:

[code]

[2022-05-24 20:04] johnnyutahh commented on #285
The solution seems to be to use `python-gnupg` over the `pretty_bad_protocol` module (whose last update was 2018):

https://stackoverflow.com/a/72355824/605356

Is it time to mark this project as obsoleted in it's [README](https://github.com/isislovecruft/python-gnupg)?

[2022-05-24 20:11] johnnyutahh commented on #137
In my tests, the "stanard" `python-gnupg` module has no need for `options=['--pinentry-mode loopback']` on both macOS v10.15.7 and Ubuntu 20.04.4. Plus additional benefits. Details:

https://stackoverflow.com/a/72355824/605356

Also, I find the following bash_alias/command "clears" cached passwords from the `gpg-agent`, removing the need to kill the `gpg-agent` process (per below).

[code]

[2022-07-27 19:14] johnnyutahh commented on #285
Is it time to mark this project as obsoleted in it's [README](https://github.com/isislovecruft/python-gnupg)?

(Details above.)

[2022-09-02 20:56] uncleurdnot commented on #285
This project hasnt been updated since 2018, and doesnt reflect the working documentation.  It should be marked as obsolete.

Just spent 3 days debugging why things weren't working when I realized pip grabbed this version instead of https://github.com/vsajip/python-gnupg

[2022-09-30 12:52] Avamander opened #286 "Sign function incorrectly strips one trailing CRLF"
When trying to generate a valid signature according to RFC3156 I stumbled upon the fact that the last `\r\n` of the _bytes_ given to `sign` are stripped.

Example:
[code]

Workaround:
[code]

[2022-10-19 21:43] Myzel394 commented on #224
I'm also facing this issue. Seems like, the commits didn't change anything :( I also can't simply sign and verify a message. Is there a workaround available? @isislovecruft or @crashvb ?

[2022-10-19 23:26] crashvb commented on #224
@Myzel394 I [duck punched](https://github.com/crashvb/docker-sign-verify/commit/d6b89b9c1b9073024f46cb40e26f00a013aa68d9) it.

This one just one of several issues I found with this library in general. Once you factor in the GnuPG v1 vs v2 compatibility issues (i.e. needing an agent in v2 for pin entry), and the lack of standard parsing practices which @isislovecruft left many comments towards, and